doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href=`/upload/${reqSession.utilities.company_logo}`)
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{reqSession.utilities.company_name}
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='')
          a.simple-text.logo-normal(href='' style='margin-right:10em')
            | #{reqSession.utilities.company_name}
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/icon.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | ADMINISTRATOR
              .clearfix
          ul.nav
            li
              a(href='./admindashboard')
                i.ti-dashboard
                p
                  | Dashboard
            li
              a(data-toggle='collapse', href='#componentsExamples')
                i.ti-clipboard
                p
                  | Maintenance
                  b.caret
              #componentsExamples.collapse
                ul.nav
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#services')
                      p
                        span.sidebar-mini S
                        | Services
                        b(style="margin-right: 30px").caret
                    #services.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminServiceType')
                            span.sidebar-normal Service Type
                        li(style="margin-left: 30px")
                          a(href='./adminServices')
                            span.sidebar-normal Services
                        li(style="margin-left: 30px")
                          a(href='./adminServiceDuration')
                            span.sidebar-normal Service Duration
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#therapist')
                      p
                        span.sidebar-mini T
                        | Therapist
                        b(style="margin-right: 30px").caret
                    #therapist.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminSpecialty')
                            span.sidebar-normal Therapist Skills
                        li(style="margin-left: 30px")
                          a(href='./adminTherapist')
                            span.sidebar-normal Therapist
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#packages')
                      p
                        | Packages
                        span.sidebar-mini P
                        b(style="margin-right: 30px").caret
                    #packages.collapse
                      ul.nav    
                        li(style="margin-left: 30px")
                          a(href='./adminPackages')
                            span.sidebar-normal Packages
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#promos')
                      p
                        span.sidebar-mini P
                        | Promos
                        b(style="margin-right: 30px").caret
                    #promos.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminPromos')
                            span.sidebar-normal Promos
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#rooms')
                      p
                        span.sidebar-mini R
                        | Rooms
                        b(style="margin-right: 30px").caret
                    #rooms.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminRoomType')
                            span.sidebar-normal Room Type
                        li(style="margin-left: 30px")
                          a(href='./adminRooms')
                            span.sidebar-normal Rooms
                  
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#freebies')
                      p
                        span.sidebar-mini F
                        | Freebies
                        b(style="margin-right: 30px").caret
                    #freebies.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminFreebies')
                            span.sidebar-normal Freebies
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#gifc')
                      p
                        span.sidebar-mini G
                        | Gift Certificate
                        b(style="margin-right: 30px").caret
                    #gifc.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./giftcertificate')
                            span.sidebar-normal Gift Certificate                     

                       

            li
              a(href="./commission")
                i.ti-envelope
                p
                  | Commission
            li.active
              a(data-toggle='collapse in')
                i.ti-settings
                p
                  | Utilities
            li
              a(data-toggle='collapse', href='#queries')
                i.ti-notepad
                p
                  | Queries
                  b.caret
              #queries.collapse
                ul.nav
                  li(style="margin-left: 30px;")
                    a(href='./customerList')
                      span.sidebar-mini 
                      span.sidebar-normal Customers
                  li(style="margin-left: 30px;")
                    a(href='./loyaltyMembers')
                      span.sidebar-mini 
                      span.sidebar-normal Loyalty Members
                  li(style="margin-left: 30px;")
                    a(href='./servicesList')
                      span.sidebar-mini 
                      span.sidebar-normal Services
                  li(style="margin-left: 30px;")
                    a(href='./packagesList')
                      span.sidebar-mini 
                      span.sidebar-normal Packages
                  li(style="margin-left: 30px;")
                    a(href='./promoList')
                      span.sidebar-mini 
                      span.sidebar-normal Promos
                  li(style="margin-left: 30px;")
                    a(href='./therapistList')
                      span.sidebar-mini 
                      span.sidebar-normal Therapists
                  li(style="margin-left: 30px;")
                    a(href='./roomList')
                      span.sidebar-mini 
                      span.sidebar-normal Rooms    
                  li(style="margin-left: 30px;")
                    a(href='./freebiesList')
                      span.sidebar-mini 
                      span.sidebar-normal Freebies           
            li
              a(data-toggle='collapse', href='#reports')
                i.ti-bar-chart-alt
                p
                  | Reports
                  b.caret
              #reports.collapse
                ul.nav
                  li(style="margin-left: 30px;")
                    a(href='./servicesReport')
                      span.sidebar-mini 
                      span.sidebar-normal Services
                  li(style="margin-left: 30px;")
                    a(href='./packagesReport')
                      span.sidebar-mini 
                      span.sidebar-normal Packages
                  li(style="margin-left: 30px;")
                    a(href='./promosReport')
                      span.sidebar-mini 
                      span.sidebar-normal Promos
                  li(style="margin-left: 30px;")
                    a(href='./roomsReport')
                      span.sidebar-mini 
                      span.sidebar-normal Rooms 
                  li(style="margin-left: 30px;")
                    a(href='./freebiesReport')
                      span.sidebar-mini 
                      span.sidebar-normal Freebies
                  li(style="margin-left: 30px;")
                    a(href='./gcReports')
                      span.sidebar-mini 
                      span.sidebar-normal Gift Certificate
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize

            .navbar-header

              a.navbar-brand(href='#')
                | Utilities
            .collapse.navbar-collapse

              ul.nav.navbar-nav.navbar-right
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .card(style='padding: 30px')
            .container-fluid
              h1
                center Utilities
              hr
              each utilities in results

                  .row
                    .col-md-4
                      h3 COMPANY
                  .row
                    .col-md-4
                      .form-group.has-default.bmd-form-group
                        label Company Name
                        input.form-control(type='text', placeholder='Company Name' value=`${utilities.company_name}` id='company_name')
                    .col-md-5
                      .form-group.has-default.bmd-form-group
                        h6.strong Company Logo
                        button.btn.btn-info.btn-sm.btn-fill.btn-magnify(type='button' data-target='#editImage' data-toggle='modal')
                          span.btn-label
                            i.ti-pencil
                          | Edit 
                      #editImage.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog(role='document')
                          .modal-content
                            .modal-header
                              h5.modal-title
                                center Company Logo
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                            form#allInputsFormValidation(method='' action='')
                              .modal-body
                                .row
                                  .col-md-3
                                  .col-md-6
                                      .form-group.has-default.bmd-form-group
                                        input.form-control(type='file', name='company_logo' value='' id='company_logo' accept="image/*")
                                .row
                                  .col-md-1
                                  .col-md-2
                                      img.card(src=`/upload/${reqSession.utilities.company_logo}` id="viewImage" style='margin-left:25px; width: 30em')
                                .row
                              .modal-footer
                                button.btn.btn-secondary.pull-left.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel        
                                button.btn.btn-secondary.pull-right.btn.btn-info.btn-fill.btn-wd.updateLogo(type='button') Update
                  
                  .row
                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label Opening Time
                        input.timepicker.form-control(type='text', placeholder='Opening Time' value=`${utilities.opening_time}` id='opening_time')
                        
                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label Closing Time
                        input.timepicker.form-control(type='text', placeholder='Closing Time' value=`${utilities.closing_time}` id='closing_time')
                  
                  
                  hr
                  .row
                    .col-md-4
                      h3 RESERVATION
                  .row
                    .col-md-3
                      .form-group.has-default.bmd-form-group
                        label Maximum Guest Per Reservation
                        input.form-control(type='number', placeholder='Maximum Guest Per Reservation' value=`${utilities.max_guest}` id='max_guest')
                    .col-md-3
                          label Reservation Forfeiture
                          .input-group
                            input.form-control(type='number' value=`${utilities.reservation_forfeitTime}` id='reservation_forfeitTime')
                            span.input-group-addon minutes
                  .row 
                    .col-md-3
                          label Time Allowance After Each Reservation
                    .col-md-3
                          label Time Allowance For Changing Therapist     
                  .row
                    .col-md-3
                      .input-group
                        input.form-control(type='number' value=`${utilities.reservation_timeAllowance}` id='timeAllowance')
                        span.input-group-addon minutes   
                    .col-md-3
                      .input-group
                        input.form-control(type='number' value=`${utilities.reservation_timeAllowance}` id='timeAllowance')
                        span.input-group-addon minutes                
                  
                  
                  hr
                  .row
                    .col-md-4
                      h3 LOYALTY MEMBERSHIP
                  .row
                    .col-md-2
                        label Membership Fee
                        .input-group
                          span.input-group-addon ₱
                          input.form-control(type='number' value=`${utilities.membership_fee}` id='membership_fee')
                    .col-md-2
                          label Membership Validity
                          .input-group
                            input.form-control(type='number' value=`${utilities.membership_validity}` id='membership_validity')
                            span.input-group-addon months
                    
                  hr  
                  .row
                    .col-md-4
                      h3 THERAPIST
                  .row
                    .col-md-3
                          label Therapist Commission Per Service
                          .input-group
                            input.form-control(type='number' value=`${utilities.therapist_commission}` id='therapist_commission')
                            span.input-group-addon %
                    
                  .row
                    .col-md-4
                      h5
                        strong Therapist First Shift
                    .col-md-4
                      h5
                        strong Therapist Second Shift    
                  
                        
                  .row
                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label Start Time
                        input.timepicker.form-control(type='text', value=`${utilities.firstShift_timeStart}` id='firstShift_timeStart' placeholder='Start Time'  )
                        
                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label End Time
                        input.timepicker.form-control(type='text', value=`${utilities.firstShift_timeEnd}` id='firstShift_timeEnd' placeholder='End Time' )

                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label Start Time
                        input.timepicker.form-control(type='text', value=`${utilities.secondShift_timeStart}` id='secondShift_timeStart' placeholder='Start Time'  )
                        
                    .col-md-2
                      .form-group.has-default.bmd-form-group
                        label End Time
                        input.timepicker.form-control(type='text', value=`${utilities.secondShift_timeEnd}` id='secondShift_timeEnd' placeholder='End Time' )    
                  hr
                  .row
                    .col-md-4
                      h3 AMENITY
                  .row
                    .col-md-2
                        label Entrance Fee
                        .input-group
                          span.input-group-addon ₱
                          input.form-control(type='number' value=`${utilities.entrance_fee}` id='entrance_fee')
                  .row
                    .col-md-4
                      label Allowable Time for Cancellation 
                  .row
                    .col-md-3
                      .input-group
                        input.form-control(type='number', value=`${utilities.amenity_cancellation}` id='amenity_cancellation' placeholder='minutes' )
                        .input-group-addon minutes

                  .row
                    button.btn.btn-info.btn-fill.btn-wd.pull-right.updateButton(type='button' value=`${utilities.utilities_id}`) Save
                        

        footer.footer
          .container-fluid
            .copyright.pull-right
              | © 
              script.
                document.write(new Date().getFullYear())
              | , made with 
              i.fa.fa-heart.heart
              |  by 
              a(href='#') Team Mbay
      .fixed-plugin
  // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
  script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
  // Forms Validations Plugin
  script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
  // Promise Library for SweetAlert2 working on IE
  script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
  // Plugin for Date Time Picker and Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/moment.min.js')
  // Date Time Picker Plugin is included in this js file
  script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
  script(src='/assets/datetimepicker/bootstrap-datetimepicker.min.js')
  // Select Picker Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
  // Switch and Tags Input Plugins
  script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
  // Notifications Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
  // Sweet Alert 2 plugin
  script(src='/assets/paperDashboardPro/js/sweetalert.js')
  // Plugin for DataTables.net
  script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
  // Paper Dashboard PRO Core javascript and methods for Demo purpose
  script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
  // Sharrre Library
  script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
  // Paper Dashboard PRO DEMO methods, don't include it in your project!
  script(src='/assets/paperDashboardPro/js/demo.js')
  script.
    $(document).ready(function(){
              function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              
              reader.onload = function (e) {
                  $('#viewImage').attr('src', e.target.result);
              }
              
              reader.readAsDataURL(input.files[0]);
          }
          }
          $("#company_logo").change(function(){
            readURL(this);
          });
    })

  script.
    $(document).ready(function(){
      $('.updateLogo').click(function(){
        var formData = new FormData();
        formData.append('company_logo',$('#company_logo')[0].files[0])
      
        console.log($('#company_logo')[0].files[0])
        $.ajax({
          type:"POST",
          url: "/admin/utilities/updateLogo",
          data: formData,
          processData: false,
          contentType: false,
      }).done(function(data){
        if(data.alertDesc==0)
          {
              swal({
                title: "Success",
                text: "Company Logo update success",
                icon: 'success'
              }).then(function(){
                location.reload();
              })
          }
          else
          {
            swal({
              title: "ERROR",
              icon: "error"
            })
          }
        })
      })
    })
  script.
    $(document).ready(function(){
      $('.updateButton').click(function(){
        //- var formData = new FormData();
        

        var opening = moment($('#opening_time').val(), 'hh:mm A').format('HH:mm')
       
        $.post('./utilities',{
          company_name:$('#company_name').val(),
          opening_time: opening,
          closing_time:$('#closing_time').val(),
          max_guest:$('#max_guest').val(),
          membership_validity:$('#membership_validity').val(),
          membership_fee:$('#membership_fee').val(),
          entrance_fee:$('#entrance_fee').val(),
          utilities_id:$(this).val(),
          reservation_forfeitTime:$('#reservation_forfeitTime').val(),
          firstShift_timeStart:$('#firstShift_timeStart').val(),
          firstShift_timeEnd:$('#firstShift_timeEnd').val(),
          secondShift_timeStart:$('#secondShift_timeStart').val(),
          secondShift_timeEnd:$('#secondShift_timeEnd').val(),
          reservation_timeAllowance: $('#timeAllowance').val(),
          therapist_commission: $('#therapist_commission').val(),
          amenity_cancellation: $('#amenity_cancellation').val()
        }).done(function(data){
            if(data.alertDesc==0)
              {
                  swal({
                    title: "Success",
                    text: "Utilities update success",
                    icon: 'success'
                  }).then(function(){
                    location.reload();
                  })
              }
              else
              {
                swal({
                  title: "ERROR",
                  icon: "error"
                })
              }
        })
      })
    })
  //- script.
  //-   $(document).ready(function(){
  //-     function readURL(input) {
  //-       if (input.files && input.files[0]) {
  //-           var reader = new FileReader();
            
  //-           reader.onload = function (e) {
  //-               $('#company_logoDisplay').attr('src', e.target.result);
  //-           }
            
  //-           reader.readAsDataURL(input.files[0]);
  //-       }
  //-       }
  //-       $("#company_logo").change(function(){
  //-         readURL(this);
  //-       });
  //-   })

  script.
      $(function () {

      $('.timepicker').datetimepicker({
        format: 'LT',
        icons: {
         
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down"
          
          }
    })
      })
  script(type='text/javascript').
    $(document).ready(function(){
    demo.initOverviewDashboard();
    demo.initCirclePercentage();

    $('#opening_time').va('')
    });
