doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href=`/upload/${reqSession.utilities[0].company_logo}`)
    link(rel='icon', type='image/png', sizes='96x96', href=`/upload/${reqSession.utilities[0].company_logo}`)
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{reqSession.utilities[0].company_name}
    // Canonical SEO
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
    style.
      .dropdown-menu {
        margin-left: -110px !important;
      }
  body
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='#')
            | 
          a.simple-text.logo-normal(href='#')
            | MBAY Health Spa
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/icon.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Front Desk
              .clearfix
          ul.nav
            li
              a(href='/frontdesk/home')
                i.ti-pencil
                p
                  | Registration
            li
              a(href='/fdReservation')
                i.ti-calendar
                p
                  | Reservation
            li
              a(href='/payment')
                i.ti-credit-card
                p
                  | Payment
            li
              a(href='./therapist')
                i.ti-user
                p
                  | Therapist Attendance
            li.active
              a(href='./giftcert')
                i.ti-gift
                p
                  | Gift Certification

   
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize

            .navbar-header

              a.navbar-brand(href='#')
                | Gift Certificate
            .collapse.navbar-collapse

              ul.nav.navbar-nav.navbar-right
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    .col-md-6
                      .card-content
                        
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .toolbar
                              .fresh-datatables
                                table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                  thead
                                    tr
                                      th.disabled-sorting Reference Code
                                      th.disabled-sorting Name
                                      th Value
                                      th Price
                                      th.disabled-sorting Actions
                                      
                                  
                                  tbody
                                    each gc in giftcerts
                                      tr
                                        td= gc.gc_refCode
                                        td= gc.gc_name
                                          input.name(type='hidden' value=`${gc.gc_name} Ref.Code(${gc.gc_refCode})` id=`${gc.gc_id}`)
                                        td= '₱'+gc.gc_value+'.00'
                                        td= '₱'+gc.gc_price+'.00'
                                        td 
                                          .dropdown(style="right: 10px")
                                                button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 13px')
                                                  i.ti-settings
                                                ul.dropdown-menu
                                                  li
                                                    button.btn.btn-simple.btn-info.soldButton(data-toggle='',  value=`${gc.gc_id}` stlye="margin-right: 50px")
                                                      span.btn-label
                                                      i.ti-check-box
                                                      |  Sold
                                                  li
                                                    button.btn.btn-simple.btn-success.giftButton(data-toggle='' value=`${gc.gc_id}` stlye="margin-right: 50px")
                                                      span.btn-label
                                                      i.ti-gift
                                                      |  Gifted
                                                 
        footer.footer
          .container-fluid
            .copyright.pull-right
              | © 
              script.
                document.write(new Date().getFullYear())
              | , made with 
              i.fa.fa-heart.heart
              |  by 
              a(href='#') Team MBAY
    .fixed-plugin
    // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
    script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
    // Forms Validations Plugin
    script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
    // Promise Library for SweetAlert2 working on IE
    script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
    // Plugin for Date Time Picker and Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/moment.min.js')
    // Date Time Picker Plugin is included in this js file
    script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
    // Select Picker Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
    // Switch and Tags Input Plugins
    script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
    // Circle Percentage-chart
    script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
    // Charts Plugin
    script(src='/assets/paperDashboardPro/js/chartist.min.js')
    // Notifications Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
    // Sweet Alert 2 plugin
    script(src='/assets/paperDashboardPro/js/sweetalert.js')

    // Wizard Plugin
    script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
    // Bootstrap Table Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
    // Plugin for DataTables.net
    script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
    // Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/fullcalendar.min.js')
    // Paper Dashboard PRO Core javascript and methods for Demo purpose
    script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
    // Sharrre Library
    script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
    // Paper Dashboard PRO DEMO methods, don't include it in your project!
    script(src='/assets/paperDashboardPro/js/demo.js')

    //- SCRIPT FOR LOCAL STORAGE
    script.
        $(function(){
          var gc_name = localStorage.getItem('gc_name')
          if (localStorage.getItem('gc_name'))
          {
            if(localStorage.getItem('status')==0)
            {
            $.notify(
              {
              icon: 'ti-bell',
              message: gc_name+' has been mark as Sold',
              
            },
            {
              type: 'success'
            },
            {
            animate: {
                  enter: 'animated bounceInDown',
                  exit: 'animated bounceOutUp'
                }
            })
              localStorage.clear()
            }
            else
            {
                $.notify(
              {
              icon: 'ti-bell',
              message: gc_name+' is not release, maybe because of error',
              
            },
            {
              type: 'error'
            },
            {
            animate: {
                  enter: 'animated bounceInDown',
                  exit: 'animated bounceOutUp'
                }
            })
              localStorage.clear()
            }
        }
        })
    //- SCRIPT FOR SELLING
    script.
      $(document).ready(function(){
        $('.soldButton').click(function(){
          var gc_id = $(this).val()
          var gc_name = $(`.name[id='${gc_id}'`).val()
          swal({
            title: "Do you want to sell "+gc_name+"?",
          }).then(function(sell){
            if(sell)
            {
              $.post('./SoldGiftCertificate',{gc_id}).done(function(data){
                if(data.alertDesc==0)
                {
                  localStorage.setItem('gc_name',gc_name)
                  localStorage.setItem('status',data.alertDesc)
                  location.reload()
                }
                else
                {
                  localStorage.setItem('gc_name',gc_name)
                  localStorage.setItem('status',data.alertDesc)
                  location.reload()
                }
              })
            }
            else
            {
              
            }
          })

        })
      })

    //- SCRIPT FOR GIFT
    script.
      $(document).ready(function(){
        $('.giftButton').click(function(){
          var gc_id = $(this).val();
          var gc_name = $(`.name[id='${gc_id}']`).val()
            swal({
              title: 'Do you want to gift '+gc_name+'?',
              text: 'Are you sure?',
              icon: "info",
              buttons: ["Cancel","Proceed"],
              dangerMode: true
                
              }).then((proceed) => {
                if(proceed)
                {
                $.post('./AsGiftGiftCertificate',{gc_id}).done(function(data){
                  if(data.alertDesc==0)
                  {
                    swal({
                      title: gc_name+' has been mark as gift.',
                      icon: 'success'
                    }).then(function(){
                      location.reload()
                    })
                  }
                  else
                  {
                    swal({
                      title: 'Error',
                      icon: 'error'
                    })
                  }
                })
                }
                else
                {

                }
                });
        })
      })

    //- SCRIPT FOR DATATABLES
    script(type='text/javascript').
      $(document).ready(function() {
      $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[5, 15, 25, -1], [5, 15, 25, "All"]],
      "aaSorting": [],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      })
