doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href=`/upload/${reqSession.utilities[0].company_logo}`)
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{reqSession.utilities[0].company_name}
    meta(property='og:site_name', content='Creative Tim')
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
    style.
      button.hello{
        background:none!important;
        border:none; 
        padding:0!important;
        
        /*optional*/
        font-family:arial,sans-serif; /*input has OS specific font-family*/
        color:#069;
        text-decoration:underline;
        cursor:pointer;
      }
      
      .dropdown-menu {
        margin-left: -117px !important;
      }

      
  body.sidebar-mini
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='#')
            | 
          a.simple-text.logo-normal(href='#')
            | MBAY Health Spa
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/faces/face-2.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Front Desk
              .clearfix
          ul.nav
            li
              a(href='/frontdesk/home')
                i.ti-pencil
                p
                  | Registration
            li
              a(href='/fdReservation')
                i.ti-calendar
                p
                  | Reservation
            li.active
              a(href='/payment')
                i.ti-credit-card
                p
                  | Payment
            li
              a(href='./therapist')
                i.ti-user
                p
                  | Therapist Attendance   
            li
              a(href='./giftcert')
                i.ti-gift
                p
                  | Gift Certification
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#Dashboard')
                | Payment
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    div
                      .card-content
                        
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .nav-tabs-navigation
                                .nav-tabs-wrapper
                                  ul#tabs.nav.nav-tabs(data-tabs='tabs')
                                    li.active
                                      a(href='#reservation', data-toggle='tab') Reservation
                                    li
                                      a(href='#amenities', data-toggle='tab') Amenity
                                    li
                                      a(href='#loyalty', data-toggle='tab') Loyalty Membership 
                              #my-tab-content.tab-content
                                // RESERVATION TAB
                                #reservation.tab-pane.active        
                                  .toolbar
                                    // Here you can write extra buttons/actions for the toolbar
                                  center
                                    h2 Unpaid Customers
                                  .fresh-datatables
                                    table#datatablesReservation.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                      thead
                                        tr
                                          th Name
                                          th Membership Type
                                          th Reservation Details
                                          th.disabled-sorting Actions
                                      tfoot
                                        tr
                                          th Name
                                          th Membership Type
                                          th Reservation Details
                                          th Actions
                                      tbody
                                        tr
                                          td
                                          td
                                          td
                                          td 
                                            .dropdown
                                                  button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' )
                                                    i.ti-settings
                                                  ul.dropdown-menu
                                                    li
                                                      button.btn.btn-simple.btn-info.reserveButton(data-toggle='modal')
                                                        span.btn-label
                                                        i.ti-calendar
                                                        |  Pay Now
                                                    li
                                                      button.btn.btn-simple.btn-info.reserveButton(data-toggle='modal')
                                                        span.btn-label
                                                        i.ti-eye
                                                        | Details   
                                  br
                                  br
                                  center
                                    h2 Paid Customers
                                  .fresh-datatables
                                    table#datatablesReservation2.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                      thead
                                        tr
                                          th Name
                                          th Membership Type
                                          th.disabled-sorting
                                          th.disabled-sorting Actions
                                          
                                      tfoot
                                        tr
                                          th Name
                                          th Membership Type
                                          th
                                          th Actions
                                          

                                      tbody
                                        tr
                                          td
                                          td
                                          td
                                          td 
                                            .dropdown
                                                  button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' )
                                                    i.ti-settings
                                                  ul.dropdown-menu
                                                    li
                                                      button.btn.btn-simple.btn-info.reserveButton(data-toggle='modal')
                                                        span.btn-label
                                                        i.ti-calendar
                                                        |  Refund
                                
                                //- AMENITIES TAB
                                #amenities.tab-pane    
                                  .toolbar
                                    center
                                      h2 Unpaid Customers
                                  .fresh-datatables
                                    table#datatablesAmenity.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                      thead
                                        tr
                                          th Name
                                          th Membership Type
                                          th Date
                                          th.disabled-sorting Total Guest
                                          th.disabled-sorting Total
                                          th.disabled-sorting Actions
                                      tfoot
                                        tr
                                          th Name
                                          th Membership Type
                                          th Date
                                          th Total Guest
                                          th Total 
                                          th Actions
                                      tbody
                                        each amenity in amenities
                                          if(amenity.paid_status==0)
                                            tr
                                              td= amenity.cust_fname+' '+amenity.cust_mname+' '+amenity.cust_lname
                                                input.amenityName(type='hidden' value=`${amenity.cust_fname} ${amenity.cust_mname} ${amenity.cust_lname}` id=`${amenity.cust_id}`)
                                                input.amenityId(type='hidden' value=`${amenity.amenity_reservation_id}` id=`${amenity.cust_id}`)
                                              if(amenity.cust_type==1)
                                                td Loyalty
                                              else
                                                td Common
                                              td= amenity.date
                                              td= amenity.number_ofGuest
                                                input.number_guest(type='hidden' value=`${amenity.number_ofGuest}` id=`${amenity.cust_id}`)
                                              td= '₱'+amenity.total_fee+'.00'
                                                input.total_fee(type='hidden' value=`${amenity.total_fee}` id=`${amenity.cust_id}`)
                                              td
                                                .dropdown(style="right: 10px")
                                                    button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 5px')
                                                      i.ti-settings
                                                    ul.dropdown-menu
                                                      li
                                                        button.btn.btn-simple.btn-info.payNowAmenityButton(data-toggle='modal', value=`${amenity.cust_id}`  style="margin-right: 15px")
                                                          span.btn-label
                                                          i.ti-calendar
                                                          |  Pay Now          
                                  hr
                                  br
                                  br
                                  .toolbar
                                    center
                                      h2 Paid Customers
                                  .fresh-datatables
                                    table#datatablesAmenity2.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                      thead
                                        tr
                                          th Name
                                          th Membership Type
                                          th Date
                                          th.disabled-sorting Total Guest
                                          th.disabled-sorting Total
                                          th.disabled-sorting Actions
                                      tfoot
                                        tr
                                          th Name
                                          th Membership Type
                                          th Date
                                          th Total Guest
                                          th Total 
                                          th Actions

                                      tbody
                                        each amenity in amenities
                                          if(amenity.paid_status==1)
                                            tr
                                              td= amenity.cust_fname+' '+amenity.cust_mname+' '+amenity.cust_lname
                                                input.amenityId(type='hidden' value=`${amenity.amenity_reservation_id}` id=`${amenity.cust_id}`)
                                              if(amenity.cust_type==1)
                                                td Loyalty
                                              else
                                                td Common
                                              td= amenity.date
                                                input.date(type='hidden' value=`${amenity.date}` id=`${amenity.cust_id}`)
                                              td= amenity.number_ofGuest
                                              td= '₱'+amenity.total_fee+'.00'
                                              td   
                                                .dropdown(style="right: 10px")
                                                      button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 5px')
                                                        i.ti-settings
                                                      ul.dropdown-menu
                                                        li
                                                          button.btn.btn-simple.btn-info.amenityRefundButton(data-toggle='modal', value=`${amenity.cust_id}`  style="margin-right: 15px")
                                                            span.btn-label
                                                            i.ti-calendar
                                                            |  Refund    
                                //- LOYALTY TAB
                                #loyalty.tab-pane      
                                  .toolbar
                                    center
                                      h2 Unpaid Customers
                                  .fresh-datatables
                                    table#datatablesLoyalty.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                      thead
                                        tr
                                          th Name
                                          th.disabled-sorting
                                          th.disabled-sorting
                                          th.disabled-sorting Actions
                                      tfoot
                                        tr
                                          th Name
                                          th 
                                          th 
                                          th Actions
                                      tbody
                                        each loyalty in loyaltys
                                          tr
                                            td= loyalty.cust_fname+' '+loyalty.cust_mname+' '+loyalty.cust_lname
                                              input.loyalty_name(type='hidden' value=`${loyalty.cust_fname} ${loyalty.cust_mname} ${loyalty.cust_lname}` id=`${loyalty.member_id}`)
                                            td
                                            td
                                            td
                                              .dropdown(style="right: 10px")
                                                    button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 5px')
                                                      i.ti-settings
                                                    ul.dropdown-menu
                                                      li
                                                        button.btn.btn-simple.btn-info.payNowButton(data-toggle='modal', value=`${loyalty.member_id}` style="margin-right: 15px")
                                                          span.btn-label
                                                          i.ti-calendar
                                                          |  Pay Now
                                            

                                
                                //- br
                                //- br
                                //- center
                                //-   h2 Paid Customers
                                //- .fresh-datatables
                                //-   table#datatables3.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                //-     thead
                                //-       tr
                                //-         th Membership Type
                                //-         th Name
                                //-         th.disabled-sorting
                                //-         th.disabled-sorting
                                //-         th Services
                                //-     tfoot
                                //-       tr
                                //-         th Membership Type
                                //-         th Name
                                //-         th
                                //-         th
                                //-         th Services

                                //-     tbody
                                //-       each paid in paids
                                //-         tr
                                //-           if(paid.cust_type==0)
                                //-             td Common
                                //-           else
                                //-             td Loyalty
                                //-           td= paid.cust_fname+" "+paid.cust_lname
                                //-           td
                                //-           td
                                //-           td
                                //-             if(paid.walkin_payment_status== 2)
                                //-               button.btn.btn-info.btn-fill.btn-wd.viewButton(type='button' value=`${paid.walkin_id}`)
                                //-                   span.btn-label
                                //-                   | Refund
                                //-             else
                                //-               button.btn.btn-info.btn-fill.btn-wd.viewButton(type='button' value=`${paid.walkin_id}`)
                                //-                 span.btn-label
                                //-                 | View 

                  
                  
                  
                              #viewDetails.modal.fade(tabindex='-1', role='dialog')
                                .modal-dialog(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Reservation Details
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      p reservation details
                                    .modal-footer
                                      // <button type="button" class="btn btn-secondary pull-left btn btn-info btn-fill btn-wd" ></button>
                                      button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Close
                              
                              
                              #RegisterModal.modal.fade(tabindex='1', role='dialog' aria-labelledby='myModalLabel')
                                .modal-dialog(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Registration
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      .row
                                        .col-md-4
                                          .form-group
                                            label.control-label Username
                                            star *
                                            input.form-control(type='text', name='username', id="username" placeholder='username\
                                            ')
                                        .col-md-4
                                          .form-group
                                            label.control-label Password
                                            star *
                                            input.form-control(type='password', name='password1', id="password" placeholder='password\
                                            ')
                                        .col-md-4
                                          .form-group
                                            label.control-label Re-enter Password
                                            star *
                                            input.form-control(type='password', name='password2', id="password2" placeholder='confim password\
                                            ')

                                      .row
                                        .col-md-5
                                            h5 Fee: ₱#{reqSession.utilities[0].membership_fee}.00
                                    .modal-footer
                                      button.btn.btn-secondary.btn.btn-info.btn-fill.btn-wd.pull-right.buttonRegister(type='button', data-dismiss='modal') Done
                                      button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd.pull-left(type='button', data-dismiss='modal') Close
                              
                              
                              #checkout.modal.fade(tabindex='-1', role='dialog' aria-labelledby='myModalLabel')
                                .modal-dialog.modal-lg(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Summary
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      div
                                        h5
                                          strong#custName
                                          br
                                          button.hello(type='' value='') Register for Loyalty Membership
                                        h5
                                          strong#Room
                                          br
                                          strong#RoomRate
                                          hr
                                      .fresh-datatables
                                        table#datatablesCheckout.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                          thead
                                            tr
                                              th.disabled-sorting
                                                strong Services Availed 
                                              th.disabled-sorting Quantity
                                              th.disabled-sorting Amount
                                              th.disabled-sorting Equivalent Points
                                          tfoot
                                            tr
                                              th.disabled-sorting
                                              th
                                              th
                                              th
                                          tbody#viewServicesAvailed
                                        .col-md-7
                                        .col-md-4
                                          h3
                                            strong#TotalPrice
                                            input.totalPrice(type='' value='')
                                          h5
                                            strong#TotalPoints
                                            input.totalPoints(type='hidden' value='')
                                            input.totalAmountReceived(type='' value='')
                                        
                                        hr
                                        .row
                                          .col-md-4 
                                            .form-group.has-default.bmd-form-group
                                              .row
                                                .col-md-1
                                                  input.checkboxGC(type='checkbox' id='checkbox_gc' value='')
                                                .col-md-5
                                                  label(for='checkbox_gc') Gift Certificate
                                                .col-md-6
                                                  .category#totalGCval 
                                                  input.totalGCval(type='' value='')
                                              select.selectpicker.selectpickerGc(title='Select Gift Certificate', multiple data-style='btn-info', data-size='7' name='giftcert' id='giftcert' required='true' aria-label='true' disabled='disabled')
                                                each gc in giftcerts
                                                  option(value=`${gc.gc_id}` gc_value=`${gc.gc_value}`)= gc.gc_refCode+" "+gc.gc_name
                                          .col-md-4
                                            .form-group.has-default.bmd-form-group
                                                label Amount Received:
                                                .input-group
                                                  span.input-group-addon ₱  
                                                  input.form-control.amountReceived(type='number', placeholder='Amount Received')
                                                  span.input-group-addon .00
                                
                                          .col-md-4
                                            .form-group.has-default.bmd-form-group
                                              label Change: 
                                              .input-group
                                                span.input-group-addon ₱
                                                input.form-control.change(type='number', placeholder='Change' value='0')
                                                span.input-group-addon .00
                                          .col-md-4#appendDito
                                      .modal-footer
                                        button.btn.btn-secondary.pull-right.btn.btn-success.btn-fill.btn-wd.buttonDone(type='button') Done
                                        button.btn.btn-secondary.pull-left.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel
                              
                              
                              
                              
                              
                              
                              
                              // PAYNOW
                              #payment.modal.fade(tabindex='-1', role='dialog' aria-labelledby='myModalLabel')
                                .modal-dialog(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Summary
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      .row
                                        .col-md-8
                                          h4
                                            strong Name: 
                                              a#customerName
                                      hr
                                      .row
                                        .col-md-10
                                          p Registration for Loyalty Membership
                                      .row
                                        .col-md-4
                                        .col-md-6
                                          h3
                                            strong#TotalLoyaltyPrice
                                            input.totalLoyaltyPrice(type='' value='')

                                      hr
                                      .row
                                        .col-md-5
                                          .form-group.has-default.bmd-form-group
                                            label Amount Received:
                                            .input-group
                                              span.input-group-addon ₱  
                                              input.form-control.amountLoyaltyReceived(type='number', placeholder='Amount Received')
                                              span.input-group-addon .00
                                        
                                        .col-md-5
                                          .form-group.has-default.bmd-form-group
                                            label Change: 
                                            .input-group
                                              span.input-group-addon ₱ 
                                              input.form-control.changeLoyalty(type='number', placeholder='Change' value='0' disabled)
                                              span.input-group-addon .00
                                      .modal-footer
                                        button.btn.btn-secondary.pull-right.btn.btn-success.btn-fill.btn-wd.buttonDone(type='button') Done
                                        button.btn.btn-secondary.pull-left.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel
                              
                              
                              
                              // PAYNOW AMENITY
                              #paynowAmenity.modal.fade(tabindex='-1', role='dialog' aria-labelledby='myModalLabel')
                                .modal-dialog(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Summary
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      .row
                                        .col-md-10
                                          h4
                                            strong Name: 
                                              a#Name
                                      hr
                                      .row
                                        .col-md-10
                                          h4 Total Guest: 
                                              a#EntranceFee
                                                strong#numberOfGuest 
                                      .row
                                        .col-md-4
                                        .col-md-6
                                          h3
                                            strong#TotalAmenityPrice
                                            input.totalAmenityPrice(type='hidden' value='')

                                      hr
                                      .row
                                        .col-md-5
                                          .form-group.has-default.bmd-form-group
                                            label Amount Received:
                                            .input-group
                                              span.input-group-addon ₱  
                                              input.form-control.amountAmenityReceived(type='number', placeholder='Amount Received')
                                              span.input-group-addon .00
                                        
                                        .col-md-5
                                          .form-group.has-default.bmd-form-group
                                            label Change: 
                                            .input-group
                                              span.input-group-addon ₱ 
                                              input.form-control.changeAmenity(type='number', placeholder='Change' value='0' disabled)
                                              span.input-group-addon .00
                                      .modal-footer
                                        button.btn.btn-secondary.pull-right.btn.btn-success.btn-fill.btn-wd.buttonAmenityDone(type='button') Done
                                        button.btn.btn-secondary.pull-left.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel
                              //- #summary.modal.fade(tabindex='-1', role='dialog' aria-labelledby='myModalLabel')
                              //-   .modal-dialog.modal-lg(role='document')
                              //-     .modal-content
                              //-       .modal-header
                              //-         h5.modal-title
                              //-           center Summary
                              //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
                              //-       .modal-body
                              //-         div
                              //-           h5
                              //-             strong#CustName
                              //-             br
                              //-           h5
                              //-             strong#room
                              //-             br
                              //-             strong#roomRate
                              //-             hr
                              //-         .fresh-datatables
                              //-           table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                              //-             thead
                              //-               tr
                              //-                 th.disabled-sorting
                              //-                   strong Availed Services
                              //-                 th.disabled-sorting Quantity
                              //-                 th.disabled-sorting Amount
                              //-             tfoot
                              //-               tr
                              //-                 th.disabled-sorting
                              //-                 th
                              //-                 th
                                              
                              //-             tbody#ViewServicesAvailed
                                              
                              //-           div
                              //-             h2
                              //-               strong#totalPrice
                              //-               input.TotalPrice(type='hidden' value='')
                              //-             h4
                              //-               strong#totalPoints
                              //-         .modal-footer
                              //-           center
                              //-             button.btn.btn-secondary.pull-left.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Close
                              
                              
                              
                              
                              
                              
                          
    .fixed-plugin
    // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
    script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
    // Forms Validations Plugin
    script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
    // Promise Library for SweetAlert2 working on IE
    script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
    // Plugin for Date Time Picker and Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/moment.min.js')
    // Date Time Picker Plugin is included in this js file
    script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
    // Select Picker Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
    // Switch and Tags Input Plugins
    script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
    // Circle Percentage-chart
    script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
    // Charts Plugin
    script(src='/assets/paperDashboardPro/js/chartist.min.js')
    // Notifications Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
    // Sweet Alert 2 plugin
    script(src='/assets/paperDashboardPro/js/sweetalert.js')
    // Wizard Plugin
    script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
    // Bootstrap Table Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
    // Plugin for DataTables.net
    script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
    // Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/fullcalendar.min.js')
    // Paper Dashboard PRO Core javascript and methods for Demo purpose
    script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
    // Sharrre Library
    script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
    // Paper Dashboard PRO DEMO methods, don't include it in your project!
    script(src='/assets/paperDashboardPro/js/demo.js')
    //- AMENITY PAYNOW
    script.
      $(document).ready(function(){
        $('.payNowAmenityButton').click(function(){
          var cust_id = $(this).val()
          var amenity_id= $(`.amenityId[id='${cust_id}']`).val()
          var name = $(`.amenityName[id='${cust_id}']`).val()
          var guest_quantity = $(`.number_guest[id='${cust_id}']`).val()
          var total_fee = $(`.total_fee[id='${cust_id}']`).val()  
          var scriptSession = !{JSON.stringify(reqSession)};
          var entrance_fee = scriptSession.utilities[0].entrance_fee

          $('#paynowAmenity').modal('show')

          $('#numberOfGuest').append(`${guest_quantity} x `)
          $('#Name').append(`${name}`)
          $('#EntranceFee').append(`₱${entrance_fee}.00`)
          $('.totalAmenityPrice').val(total_fee)
          $('#TotalAmenityPrice').append(`Total Price: ₱${total_fee}.00`)
        


        $('.buttonAmenityDone').click(function(){
            var amount_received = $('.amountAmenityReceived').val()
            var total_price = $('.totalAmenityPrice').val()
            
            console.log('AMOUNT RECEIVED', amount_received)
            console.log('TOTAL PRICE', total_price)

            console.log(amount_received >= total_price)
            if(amount_received == 0)
            {
              swal({
                title: "Amount Received is 0",
                icon: 'warning'
              })
            }
            else if(amount_received < total_price)
            {
              swal({
                title: "The Amount Received is Insuficient",
                icon: 'warning'
              })
            }
            else if(parseInt(amount_received) >= parseInt(total_price))
            {
              swal({
                title: "Are You Sure?",
                icon: 'info',
                buttons: ["No","Yes"]
              }).then(function(yes){
                  if(yes)
                  {
                    $.post('./AmenityLatePayment',{cust_id,amenity_id}).done(function(data){
                      if(data.alertDesc==0)
                      {
                        swal({
                          title: "Success",
                          icon: 'success'
                        }).then(function(){
                          location.reload()
                        })
                      }
                      else
                      {
                        swal({
                          title: "ERROR",
                          icon: 'error'
                        })
                      }
                    })
                  }
                  else
                  {

                  }
              })
            }
        })
        $('#paynowAmenity').on('hidden.bs.modal', function (){
          $('#Name').empty()
          $('#EntranceFee').empty()
          $('.totalAmenityPrice').empty()  
          $('#TotalAmenityPrice').empty()        
          $('#numberOfGuest').empty()
        })
        })

      })
    

    //- COMPUTATION FOR CHANGE[AMENITY]
    script.
      $(document).ready(function(){
        $('.amountAmenityReceived').on('change paste keyup',function(){
          var totalPrice = $('.totalAmenityPrice').val()
          var input = $('.amountAmenityReceived').val()
          if($('.amountAmenityReceived').val()==0)
            {
              $('.changeAmenity').val(0)
            }
          else
          {
            input -= parseInt(totalPrice)
            $('.changeAmenity').val(input)
          }
        })
      })

    //- AMENITY REFUND
    script.
      $(document).ready(function(){
        $('.amenityRefundButton').click(function(){
          var cust_id = $(this).val()
          var date = $(`.date[id='${cust_id}'`).val()
          var amenity_id= $(`.amenityId[id='${cust_id}']`).val()
          var scriptSession = !{JSON.stringify(reqSession)};
          var amenity_cancellation = scriptSession.utilities[0].amenity_cancellation
          var timeNow = moment(new Date()).format('MMMM DD, YYYY hh:mm A')
          var allowable_time = moment(date).add(amenity_cancellation,'minutes').format('MMMM DD, YYYY hh:mm A')
          console.log('DATE', date)
          console.log('ALLOWABLE TIME', allowable_time)

          if(moment(timeNow).isSameOrAfter(allowable_time))
          {
            swal({
              title: 'Ooops',
              text: 'Sorry no refund',
              icon:'error'
            })
          }
          else
          {
            swal({
              title: 'Refund? Are you Sure?',
              text: "Once Done it can't be undo",
              icon: 'warning',
              buttons: ["No","Yes"]
            }).then(function(yes){
              if(yes)
              {
                $.post('./AmenityRefund',{cust_id,amenity_id}).done(function(data){
                  if(data.alertDesc==0)
                  {
                    swal({
                      title: 'Success',
                      text: ' ',
                      icon: 'success'
                    }).then(function(){
                      location.reload()
                    })
                  }
                  else
                  {
                    swal({
                      title:'Error',
                      icon:'error'
                    })
                  }
                })
              }
            })
          }
        })
      })

    //- PAYMENT LOYALTY MEMBER
    script.
      $(document).ready(function(){
        $('.payNowButton').click(function(){
          var loyalty_id = $(this).val()
          var cust_name = $(`.loyalty_name[id='${loyalty_id}']`).val()
          var scriptSession = !{JSON.stringify(reqSession)};
          var membership_fee = scriptSession.utilities[0].membership_fee
          $('#payment').modal('show')
          $('#customerName').append(`${cust_name}`)
          $('#TotalLoyaltyPrice').append(`Total Price: ₱${membership_fee}.00`)
          $('.totalLoyaltyPrice').val(membership_fee)

          $('.buttonDone').click(function(){
            if($('.amountLoyaltyReceived').val()==0)
            {
              swal({
                title: "Amount Received is 0",
                icon: 'warning'
              })
            }
            else if($('.amountLoyaltyReceived').val() < $('.totalLoyaltyPrice').val())
            {
              swal({
                title: "The Amount Received is Insuficient",
                icon: 'warning'
              })
            }
            else if($('.amountLoyaltyReceived').val() >= $('.totalLoyaltyPrice').val())
            {
              swal({
                title: "Are you sure?",
                icon: 'info'
              }).then(function(sure){
                if(sure)
                {
                  $.post('./LatePaymentForLoyalty',{loyalty_id,membership_fee}).done(function(data){
                    if(data.alertDesc==0)
                    {
                      swal({
                        title: 'Success',
                        text: cust_name+' is now Paid for his/her Loyalty Membership fee',
                        icon: 'success'
                      }).then(function(){
                        location.reload()
                      })
                    }
                    else if(data.alertDesc == 1)
                    {
                      swal({
                        title: 'ERROR',
                        icon: 'error'
                      })
                    }
                  })
                }
              })
            }
          })
        })
      })
    //- COMPUTATION FOR CHANGE
    script.
      $(document).ready(function(){
        $('.amountLoyaltyReceived').on('change paste keyup',function(){
          var totalPrice = $('.totalLoyaltyPrice').val()
          var input = $('.amountLoyaltyReceived').val()
          if($('.amountLoyaltyReceived').val()==0)
            {
              $('.changeLoyalty').val(0)
            }
          else
          {
            input -= parseInt(totalPrice)
            $('.changeLoyalty').val(input)
          }
        })
      })
    script.
      $(document).ready(function(){
        $('.amountReceived').on('change paste keyup',function(){
          var totalPrice = $('.totalPrice').val()
          var gc_total = $('.totalGCval').val()
          //- var totalAmountReceived = parseInt($('.totalAmountReceived').val())
          var input = $('.amountReceived').val()
          if($('.amountReceived').val()==0)
            {
              $('.change').val(0)
            }
          else
            {
              if($('#checkbox_gc')[0].checked == false)
              {
                  var change = parseInt(input) - parseInt(totalPrice)
                  $('.change').val(change)
              }
              else
              {
                if(input==0 || input == ' ')
                {
                  alert('aa')
                  $('.totalAmountReceived').val(gc_total)
                }
                else
                {
                  var total = parseInt(input) + parseInt(gc_total)
                  console.log('TOTAL',total)
                  var change = parseInt(total) - parseInt(totalPrice)
                  $('.change').val(change)
                  $('.totalAmountReceived').val(total)
                }
              }


            }
        })
      })
    script.
      $(document).ready(function(){
        $('#checkbox_gc').on('change.bootstrapSwitch',function(e){
          if(e.target.checked==true)
          {
            $('.amountReceived').val(' ')
            $('.change').val(' ')
            $('.selectpickerGc').removeAttr('disabled')
            $('.selectpickerGc').selectpicker("refresh");
            $('.selectpickerGc').on('change',function(){
                var total_value =0
                var selected = $('option:selected',this)
                if(selected.length==0)
                {
                  $('#totalGCval').text(' ')
                  var total_amount = $('.totalAmountReceived').val()
                  var total_value = $('.totalGCval').val(0)
                  total_amount = total_amount - total_value
                  $('#TotalAmountReceived').text('₱'+total_amount+'.00')
                  $('.totalAmountReceived').val(total_amount)
                }
                var giftcerts =[]
                selected.each(function(){
                giftcerts.push({
                  gc_value: parseInt(this.getAttribute('gc_value'))
                })
              })
              for(var i=0;i<giftcerts.length;i++)
              {
                if(selected.length==0)
                {
                  alert('hello')
                }
                else
                {
                  total_value = total_value + giftcerts[i].gc_value
                  $('#totalGCval').text('Total: ₱'+total_value+'.00')
                  $('#TotalAmountReceived').text('₱'+total_value+'.00')
                  $('.totalGCval').val(total_value)
                  $('.totalAmountReceived').val(total_value)
                }
              }

            })
          }
          else
          {
            $('.selectpickerGc').attr('disabled',true)
            $('.selectpickerGc').val(0);
            $('.selectpickerGc').selectpicker("refresh");
            $('#totalGCval').text(' ')
            var total_amount = $('.totalAmountReceived').val()
            var total_value = $('.totalGCval').val(0)
            total_amount = total_amount - total_value
            $('#TotalAmountReceived').text('₱'+total_amount+'.00')
          }
        })
      })
    script.
      $(document).ready(function(){
        $('.hello').click(function(){
          var scriptSession = !{JSON.stringify(reqSession)}
          var id = $(this).val()
            $('#RegisterModal').modal('show')
            $('#checkout').modal('hide')
            var membership_validity = scriptSession.utilities[0].membership_validity
            var date_now = moment(new Date()).format('MMMM DD, YYYY')
            var validity = moment(date_now).add(membership_validity,'months').format('MMMM DD, YYYY')
            alert(validity)
            $('.buttonRegister').click(function(){
              $.post('/payment/register',{
                username: $('#username').val(),
                password: $('#password').val(),
                membership_validity: validity,
                id:id})
                .done(function(data){
                  console.log(data)
                  if(data.alertDesc==0)
                    {
                      swal({
                        title: "Success",
                        icon: "success"
                      }).then(function(){
                        $('#RegisterModal').modal('hide')
                        location.reload()
                      })
                    }
                  else if(data.alertDesc==3)
                    {
                      swal({
                        title:'Not Success', 
                        text:'Username Already Exist', 
                        icon:'warning'
                        }).then(function(){
                          $('#RegisterModal').modal('show')
                        })
                    }
                  else if(data.alertDesc==1)
                    {
                      swal({
                        title: 'ERROR',
                        icon: 'error'
                      })
                    }
                })
          })
        })
      })



    script.
      $(document).ready(function(){
        $('.viewButton').click(function(){
          
          var id = $(this).val()
          $('#summary').modal('show')
          $.post('/payment/query/CheckSummary',{id:id})
          .done(data=>{
            console.log(data)
            $('#room').append(`Room: ${data.out1[0].room_name}`)
            $('#roomRate').append(`Room Rate: ${data.out1[0].room_rate}`)
            
            if(data.out2.paid_status==0)
            {
              total_amount= data.out2.walkin_total_amount + 600
              $('#totalPrice').append(`Total: ${data.out3.amount}`)
              $('.TotalPrice').val(`${data.out3.amount}`)
            }
            else if (data.out2.paid_status==0)
            {
              $('#totalPrice').append(`Total: ${data.out3.amount}`)
              $('.TotalPrice').val(`${data.out3.amount}`)
            }
            else
            {
              $('#totalPrice').append(`Total: ${data.out3.amount}`)
              $('.TotalPrice').val(`${data.out3.amount}`)
            }
            
              $('#totalPoints').append(`Total Points earned: ${data.out2.walkin_total_points}`)

            $('#CustName').append(`Customer Name: ${data.out2.cust_fname} ${data.out2.cust_mname} ${data.out2.cust_lname}`)
            for(var i=0;i<data.out1.length;i++)
            {
            $('#ViewServicesAvailed').append(`
              <tr>
              <td>${data.out1[i].service_name}</td>
              <td>${data.out1[i].service_total_quantity}</td>
              <td>${data.out1[i].service_total_price}</td>
              </tr>
            `)
          
            }
            $('#summary').on('hidden.bs.modal', function (){
          $('#ViewServicesAvailed').empty()
          $('#CustName').empty()
          $('#totalPrice').empty()
          $('.TotalPrice').empty()  
        })
          })
        
        
        
        //- $('.buttonDone').click(function(){
        //-   //- alert($('.amountReceived').val())
        //-   if($('.amountReceived').val()==0)
        //-     {
        //-       swal({
        //-         title: "Amount Received is 0",
        //-         icon: 'warning'
        //-       })
        //-     }
        //-   else if($('.amountReceived').val() < $('.totalPrice').val())
        //-     {
        //-       swal({
        //-         title: "Amount Received is insufficient",
        //-         icon: 'warning'
        //-       })
        //-     }
        //-   else
        //-     {
        //-   $.post('/payment/Finish',{
        //-     id:id,
        //-     amount: $('.totalPrice').val(),
        //-     cust_id: $('.hello').val() 
        //-     }).done(function(data){
        //-       if(data.alertDesc==0)
        //-         {
        //-           swal({
        //-             title: "Success",
        //-             icon: 'success'
        //-           }).then(function(){
        //-             location.reload()
        //-           })
        //-         }
        //-       else
        //-         {
        //-           swal({
        //-             title: "ERROR",
        //-             icon: 'error'
        //-           })
        //-         }
            
        //-     })
        //-     }
        //- })
        })
      
        //- $('.viewdetailsButton').click(function(){
        //-   var id = $(this).val()
        //-   $.post('/payment/query/CheckoutDets',{id:id})
        //-   .done(data=>{
        //-     $('#viewDetails').modal('show')
        //-   })
        //- })
      })


    script.
      $(document).ready(function(){
        $('.checkoutButton').click(function(){
          var scriptSession = !{JSON.stringify(reqSession)};
          var id = $(this).val()
          $('#checkout').modal('show')
          $.post('/payment/query/CheckoutDets',{id:id})
          .done(data=>{
            console.log(data)
            $('#Room').append(`Room: ${data.out1[0].room_name}`)
            $('#RoomRate').append(`Room Rate: ${data.out1[0].room_rate}`)
            
            if(data.out2.paid_status==0)
            {
              total_amount= data.out2.walkin_total_amount + parseInt(scriptSession.utilities[0].membership_fee)
              $('#TotalPrice').append(`Total: ${total_amount}`)
              $('.totalPrice').val(`${total_amount}`)
            }
            else if (data.out2.paid_status==0)
            {
              $('#TotalPrice').append(`Total: ${data.out2.walkin_total_amount}`)
              $('.totalPrice').val(`${data.out2.walkin_total_amount}`)
            }
            else
            {
              $('#TotalPrice').append(`Total: ${data.out2.walkin_total_amount}`)
              $('.totalPrice').val(`${data.out2.walkin_total_amount}`)
            }
            
              $('#TotalPoints').append(`Total Points to be earned: ${data.out2.walkin_total_points}`)
              $('.totalPoints').val(data.out2.walkin_total_points)
              $('.hello').val(data.out2.cust_id)
            if(data.out2.cust_type==0)
            {
            }
            else
            {
                $('.hello').addClass('hidden')
                $('#appendDito').append(`
                  <div class="form-group has-default bmd-form-group">
                  <label> Current Points: ${data.out2.member_points}
                    <div class="checkbox">
                      <input id="checkbox1" type="checkbox"/>
                      <label for="checkbox1">Pay using Points</label>
                    </div>
                </div>`)
            }

            $('#custName').append(`Customer Name: ${data.out2.cust_fname} ${data.out2.cust_mname} ${data.out2.cust_lname}`)
            for(var i=0;i<data.out1.length;i++)
            {
              var total_equivalent_points = parseInt(data.out1[i].service_total_quantity) * parseInt(data.out1[i].equivalent_points)
            $('#viewServicesAvailed').append(`
              <tr>
              <td>${data.out1[i].service_name}</td>
              <td>${data.out1[i].service_total_quantity}</td>
              <td>${data.out1[i].service_total_price}</td>
              <td>${data.out1[i].equivalent_points}</td>
              </tr>
            `)
            }
            $('#checkout').on('hidden.bs.modal', function (){
              $('#viewServicesAvailed').empty()
              $('#custName').empty()
              $('#TotalPrice').empty()
              $('.totalPrice').empty() 
              $('#Room').empty()
              $('#RoomRate').empty()
              $('#totalPoints').empty() 
        })
          $('#datatablesCheckout').DataTable({"lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],retrieve: true,})
          })
        
        
        
        $('.buttonDone').click(function(){
          if($('.amountReceived').val()==0 && $('.checkboxGC')[0].checked== false)
            {
              swal({
                title: "Amount Received is 0",
                icon: 'warning'
              })
            }
          else if(parseInt($('.amountReceived').val()) < parseInt($('.totalPrice').val()) && $('.checkboxGC')[0].checked== false)
            {
              swal({
                title: "Amount Received is insufficient",
                icon: 'warning'
              })
            }
          else if($('.amountReceived').val()==0 && $('.checkboxGC')[0].checked== true && parseInt($('.totalGCval').val()) < parseInt($('.totalPrice').val()))
          {
            swal({
                title: "Amount Received is insufficient",
                icon: 'warning'
              })
          }
          else if($('.amountReceived').val()==0 && $('.checkboxGC')[0].checked== true && parseInt($('.totalGCval').val()) > parseInt($('.totalPrice').val()))
          {
            swal({
                title: "The Gift certificate will not return any change",
                icon: 'warning'
              }).then(function(submit){
                if(submit)
                {
                  alert($('.hello').val()+'aaa')
                }
                else
                {

                }
              })
          }
          else
            {
              if($('#checkbox_gc')[0].checked==true)
              {
                alert(id)
              $.post('/payment/Finish/GC',{
                id:id,
                gc_id: $('#giftcert').val(),
                total_points: $('.totalPoints').val(),
                amount: $('.totalPrice').val(),
                cust_id: $('.hello').val() 
                }).done(function(data){
                  if(data.alertDesc==0)
                    {
                      swal({
                        title: "Success",
                        icon: 'success'
                      }).then(function(){
                        location.reload()
                      })
                    }
                  else
                    {
                      swal({
                        title: "ERROR",
                        icon: 'error'
                      })
                    }
                
                })
              }
              else
              {
                $.post('/payment/Finish',{
                id:id,
                total_points: $('.totalPoints').val(),
                amount: $('.totalPrice').val(),
                cust_id: $('.hello').val() 
                }).done(function(data){
                  if(data.alertDesc==0)
                    {
                      swal({
                        title: "Success",
                        icon: 'success'
                      }).then(function(){
                        location.reload()
                      })
                    }
                  else
                    {
                      swal({
                        title: "ERROR",
                        icon: 'error'
                      })
                    }
                
                })
              }
            }
        })
        })
      
        $('.viewdetailsButton').click(function(){
          var id = $(this).val()
          $.post('/payment/query/CheckoutDets',{id:id})
          .done(data=>{
            $('#viewDetails').modal('show')
          })
        })
      })
    script(type='text/javascript').
      $(document).ready(function(){
      demo.initOverviewDashboard();
      demo.initCirclePercentage();
      });
    script(type='text/javascript').
      $(document).ready(function() {
      $('#datatablesReservation').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });
    script.
      $(document).ready(function() {
      $('#datatablesReservation2').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });
    script.
      $(document).ready(function() {
      $('#datatablesAmenity').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });  
    script.
      $(document).ready(function() {
      $('#datatablesAmenity2').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });  
    script.
      $(document).ready(function() {
      $('#datatablesLoyalty').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      }); 
    script.
      $(document).ready(function() {
      $('#datatablesLoyalty2').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });   
  


    script(type='text/javascript').
      $(document).ready(function(){
      demo.initWizard();
      });
