doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/assets/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Online Booking and Spa Management System
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css?v=1.2.1', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
    link(href='/assets/paperDashboardPro/css/fullcalendar.css', rel='stylesheet')
    link(href='/assets/paperDashboardPro/css/scheduler.css', rel='stylesheet')
    //- style.
    //-   .pull-right .dropdown-menu:after {
    //-     left: 10em;
        
    //-       }
    //-   .pull-right .dropdown-menu {
    //-       left: 10em;
          
    //-   }
  body.sidebar-mini
    .wrapper
      .sidebar(data-background-color='white', data-active-color='spa')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='https://www.creative-tim.com')
            | CT
          a.simple-text.logo-normal(href='https://www.creative-tim.com')
            | Creative Tim
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/faces/face-2.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Front Desk
              .clearfix
          ul.nav
            li
              a(href='/frontdesk/home')
                i.ti-pencil
                p
                  | Registration
            li.active
              a(href='./fdReservation')
                i.ti-calendar
                p
                  | Reservation
            li
              a(href='#')
                i.ti-credit-card
                p
                  | Payment      
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#calendar') Calendar
            .collapse.navbar-collapse
              form.navbar-form.navbar-left.navbar-search-form(role='search')
                .input-group
                  span.input-group-addon
                    i.fa.fa-search
                  input.form-control(type='text', value='', placeholder='Search...')
              ul.nav.navbar-nav.navbar-right
                li
                  a#date-part(style="color: black")
                li
                  a#time-part(style="color: black") 
                li
                  a.logout(style="cursor: pointer; color: black") Log Out
        .content
          .container-fluid
            .row
              //- .col-md-10.col-md-offset-1
              .card.card-calendar
                .card-content
                  input(type="hidden" value=`${customerId}` id="Id")
                  input(value=`${customerId}` id="Id")
                  input(id="restype" value=`${restype}`)
                  input(value=`Male: ${male}`)
                  input(value=`Female: ${female}`)
                  #fullCalendar
        
        //VIEW SPECIFIC SCHEDULE
        #viewDateSchedule.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                center
                  h4.modal-title
              .modal-body#viewAppend
        footer.footer
          .container-fluid
            .copyright.pull-right
              | © 
              script.
                document.write(new Date().getFullYear())
              | , made with 
              i.fa.fa-heart.heart
              |  by 
              a(href='#') Team MBAY
  // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
  script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
  // Forms Validations Plugin
  script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
  // Promise Library for SweetAlert2 working on IE
  script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
  // Plugin for Date Time Picker and Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/moment.min.js')
  // Date Time Picker Plugin is included in this js file
  script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
  // Select Picker Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
  // Switch and Tags Input Plugins
  script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
  // Circle Percentage-chart
  script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
  // Charts Plugin
  script(src='/assets/paperDashboardPro/js/chartist.min.js')
  // Notifications Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
  // Sweet Alert 2 plugin
  script(src='/assets/paperDashboardPro/js/sweetalert.js')
  // Vector Map plugin
  script(src='/assets/paperDashboardPro/js/jquery-jvectormap.js')
  // Wizard Plugin
  script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
  // Bootstrap Table Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
  // Plugin for DataTables.net
  script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
  // Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/fullcalendar.js')
  // Paper Dashboard PRO Core javascript and methods for Demo purpose
  script(src='/assets/paperDashboardPro/js/paper-dashboard.js?v=1.2.1')
  // Sharrre Library
  script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
  // Paper Dashboard PRO DEMO methods, don't include it in your project!
  script(src='/assets/paperDashboardPro/js/demo.js')
  script(src='/assets/paperDashboardPro/js/scheduler.js')
  script(type='text/javascript').
    $(document).ready(function(){
      var restype = $('#restype').val()
      var room_type_id;
      var girl_room;
      var boy_room;
      var girl_room_qty;
      var boy_room_qty;
      
      if(restype == 'multiple')
        {
          $.post('selectTime/queryCommon').done(data=>{
            room_type_id= data.common[0].room_type_id
            girl_room = data.girls[0].room_id
            girl_room_qty = data.girls[0].bed_qty

            boy_room = data.boys[0].room_id
            boy_room_qty = data.boys[0].bed_qty
          })
          $.post('selectTime/queryRoom').done(data=>{
            for(var i=0; i<data.length;i++)
              {
                if(data[i].room_type_id==room_type_id)
                  {
                    $('#fullCalendar').fullCalendar('addResource',{
                    id: 'common',
                    title: 'common rooms',
                    })
                  }
                else 
                  {
                      $('#fullCalendar').fullCalendar('addResource',{
                      id: data[i].room_id,
                      title: data[i].room_name,
                      })
                  }
              }
              $.post('selectTime/addResource/Multiple').done(data=>{
                var saveArea;
                var array = [];
                for(var i=0; i<data.length;i++)
                  {
                    var points = 0;
                    for(var k=0; k<array.length;k++)
                    {
                      if(array[k] == data[i].walkin_start_time){
                        points = 1;
                      }
                    }
                    if(points == 0){
                      var object= {roomId: data[i].room_id, time: data[i].walkin_start_time};
                      array.push(object)
                    }
                  }
                for(var t=0; t<array.length;t++){
                  var title2save='';
                  var saveGirlQty = girl_room_qty;
                  var saveBoyQty = boy_room_qty;
                  var desc='';
                  var start = '';
                  var end = '';
                  for(var r=0; r<data.length; r++){
                    if(data[r].room_type_id==room_type_id)
                    {

                      desc = data[r].room_type_desc
                      //-   console.log("ROOM= "+data[r].room_id)
                      //- //- console.log(data[r].room_type_desc)
                      //-   console.log('ARRAY TIME= '+array[t])
                        //- console.log('TIME= '+data[r].walkin_start_time)
                      if(array[t].time == data[r].walkin_start_time && array[t].roomId == data[r].room_id){
                        //- console.log('pasok')
                        var occupied = data[r].bed_occupied
                        //- console.log(occupied)
                        if(r>0)
                        {
                          var test = data[r].walkin_date+' '+data[r].walkin_start_time;
                          var test2 = data[r-1].walkin_date+' '+data[r-1].walkin_end_time;
                          //- console.log(test)
                          //- console.log(test2)
                          if(moment(test).isSameOrAfter(test2))
                            {
                              if(girl_room == data[r].room_id){
                                saveGirlQty = eval(saveGirlQty+'-'+data[r].occupied)
                                title2save = title2save+""+data[r].room_name+" "+saveGirlQty
                              }
                              else if (boy_room == data[r].room_id){
                                
                                saveBoyQty = eval(saveBoyQty+'-'+data[r].occupied)
                                title2save = title2save+""+data[r].room_name+" "+saveBoyQty
                              }
                            }
                          else
                            {
                              if(girl_room == data[r].room_id){
                                saveGirlQty = eval(girl_room_qty+'-'+data[r].occupied)
                                title2save = title2save+""+data[r].room_name+" "+saveGirlQty
                              }
                              else if (boy_room == data[r].room_id){
                                saveBoyQty = eval(boy_room_qty+'-'+data[r].occupied)
                                title2save = title2save+""+data[r].room_name+" "+saveBoyQty
                              }
                            }
                        }
                    start = moment(data[t].walkin_date+" "+data[t].walkin_start_time).format()
                    end = moment(data[t].walkin_date+" "+data[t].walkin_start_time).add(5,'m').format()
                      } 
                    if(r == data.length-1){
                      console.log(title2save)
                      //- console.log('------------------------')
                      //- console.log("START= "+start)
                      //- console.log("END= "+end)
                      //- console.log('------------------------')
                      $('#fullCalendar').fullCalendar('renderEvent',{
                        resourceId: 'common',
                        title: "Remaining Bed",
                        title2: title2save,
                        description: desc,
                        start: start,
                        end: end
                        },true)
                    }
                    }
                    else if
                    {
                      $('#fullCalendar').fullCalendar('renderEvent',{
                        resourceId: data[r].room_id,
                        title: "Remaining Bed",
                        title2: title2save,
                        description: desc,
                        start: start,
                        end: end
                        },true)
                    }
                  }
                }
                //- for(var i=0; i<data.length;i++)
                //-   {
                //-     if(data[i].room_type_id==room_type_id)
                //-       {
                //-         if(i>0)
                //-           {
                //-           var TIME = data[i-1].walkin_start_time
                //-           }
                //-         else{
                //-           var TIME = data[0].walkin_start_time
                //-         }

                        
                //-         if(TIME==data[i].walkin_start_time)
                //-           {
                //-             var occupied = data[i].occupied
                //-             var bed_qnty = data[i].bed_qty
                //-             var newQnty = bed_qnty - occupied
                //-             var Timestart = data[i].walkin_date +' '+data[i].walkin_start_time
                //-             var Timeend = data[i].walkin_date +' '+data[i].walkin_start_time;
                //-             var newT = moment(Timeend).add(5,'m').format()
                //-             var startTime = moment(Timestart).format()
                //-             var endTime= moment(Timeend).format()

                //-             if(i>0)
                //-               {
                //-               //- $('#fullCalendar').fullCalendar('renderEvent',{
                //-               //-   resourceId: 'common',
                //-               //-   title: "Remaining Bed",
                //-               //-   title2: data[i].room_name+" "+newQnty+" remainings "+data[i-1].room_name,
                //-               //-   description: data[i].room_type_desc,
                //-               //-   start: startTime,
                //-               //-   end: newT
                //-               //-   },true)
                //-               }
                //-             console.log(TIME)
                //-             if(TIME != data[i].walkin_start_time)
                //-               {
                //-                 alert(TIME)
                //-                 var occupied = data[i].occupied
                //-                 var bed_qnty = data[i].bed_qty
                //-                 var newQnty = bed_qnty - occupied
                //-                 var Timestart = data[i].walkin_date +' '+data[i].walkin_start_time
                //-                 var Timeend = data[i].walkin_date +' '+data[i].walkin_start_time;
                //-                 var newT = moment(Timeend).add(5,'m').format()
                //-                 var startTime = moment(Timestart).format()
                //-                 var endTime= moment(Timeend).format()

                //-                 if(i>0)
                //-                   {
                //-                     //- $('#fullCalendar').fullCalendar('renderEvent',{
                //-                     //-   resourceId: 'common',
                //-                     //-   title: "Remaining Bed",
                //-                     //-   title2: data[i].room_name+" "+newQnty+" remainings "+data[i-1].room_name,
                //-                     //-   description: data[i].room_type_desc,
                //-                     //-   start: startTime,
                //-                     //-   end: newT
                //-                     //-   },true)
                //-                   }
                //-               }
                //-         }
                //-       }
                //-   }
              })
          })
          //- $.post('selectTime/addResource/Multiple').done(data=>{
          //-   for(var i=0; i<data.length;i++){
              
          //-   var occupied = data[i].occupied
          //-   var bed_qnty = data[i].bed_qty
          //-   var newQnty = bed_qnty - occupied


          //-   var Timestart = data[i].walkin_date +' '+data[i].walkin_start_time
          //-   var Timeend = data[i].walkin_date +' '+data[i].walkin_start_time;
          //-   var newT = moment(Timeend).add(5,'m').format()
          //-   var startTime = moment(Timestart).format()
          //-   var endTime= moment(Timeend).format()
          //-   $('#fullCalendar').fullCalendar('renderEvent',{
          //-     resourceId: data[i].room_id,
          //-     title: "Remaining Bed "+"ID: "+data[i].room_id,
          //-     title2: data[i].room_name+" "+newQnty+" remainings ",
          //-     description: data[i].room_type_desc,
          //-     start: startTime,
          //-     end: newT
          //-   },true)
          //-   }
          //- })
          }
          else if (restype == 'single')
            {
              $.post('selectTime/query').done(data=>{
                for(var i=0; i<data.length;i++)
                  {
                    $('#fullCalendar').fullCalendar('addResource', {
                    id: data[i].room_id,
                    title: data[i].room_name,
                    occupancy: data[i].bed_qty
                    })

                    //- BACKGROUND COLOR 
                    $.post('selectTime/addResource',{id:data[i].room_id}).done(data=>{
                      console.log(data)
                      for(var i=0; i<data.length;i++)
                        {
                          
                          var occupied = data[i].bed_occupied

                          var bed_qnty = data[i].bed_qty

                          var TIMESTART = data[i].walkin_start_time
                          var TIMEEND = data[i].walkin_end_time
                          var newQnty = bed_qnty - occupied
                          var Tend = data[i].walkin_date +' '+data[i].walkin_end_time
                          var Timestart = data[i].walkin_date +' '+data[i].walkin_start_time
                          var Timeend = data[i].walkin_date +' '+data[i].walkin_end_time;
                          var newT = moment(Timeend).add(5,'m').format()
                          var startTime = moment(Timestart).format()
                          var endTime= moment(Timeend).format()
                      
                          $('#fullCalendar').fullCalendar('renderEvent',{
                            resourceId: data[i].room_id,
                            title: "Remaining Bed "+newQnty,
                            title2: "Start TIME: "+TIMESTART+" END TIME: "+TIMEEND,
                            description: data[i].room_name+" ",
                            start: startTime,
                            end: newT,
                            rendering: 'background'
                          },true)
                        }
                      })
                    //- YUNG EVENT MISMO
                    $.post('selectTime/addResource',{id:data[i].room_id}).done(data=>{
                      var newQnty = data[0].bed_qty-1
                      var color = '#FF232' // kunwari blue
                      for(var i=0; i<data.length;i++)
                        {
                          var occupied = data[i].bed_occupied
                          var bed_qnty = data[i].bed_qty
                          var test = data[i].walkin_date+' '+data[i].walkin_start_time;
                      if(i>0)
                        {
                          var test2 = data[i-1].walkin_date+' '+data[i-1].walkin_end_time;
                          if(moment(test).isSameOrAfter(test2))
                            {
                              newQnty = eval(data[0].bed_qty+'-'+occupied)
                            }
                          else
                            {
                              newQnty = eval(newQnty+'-'+occupied)
                            }
                        if(newQnty<=16){
                          color = '#FFFF50' //kunwari red
                        }
                        if(newQnty<=5){
                          color = '#FFA500' //kunwari red
                        }
                        if(newQnty<=0){
                          color = '#FF0000' //kunwari red
                        }
                        }
                      test = moment(test).format('YYYY-MM-DD HH:mm')
                      test2 = moment(test2).format('YYYY-MM-DD HH:mm')
                      var TIMESTART = data[i].walkin_start_time
                      var TIMEEND = data[i].walkin_end_time
                      var Tstart = data[i].walkin_date +' '+data[i].walkin_start_time
                      var Timestart = data[i].walkin_date +' '+data[i].walkin_start_time
                      var Timeend = data[i].walkin_date +' '+data[i].walkin_start_time;
                      var newT = moment(Timeend).add(5,'m').format()
                      var Tnew = moment(endTime).add(5,'m').format()
                      var startTime = moment(Timestart).format()
                      var endTime= moment(Timeend).format()
                      if(TIMESTART == data[i].walkin_start_time)
                        {
                          $('#fullCalendar').fullCalendar('renderEvent',{
                            resourceId: data[i].room_id,
                            title: "Remaining Bed "+newQnty,
                            title2: "Start TIME: "+TIMESTART+" END TIME: "+TIMEEND,
                            title3: newQnty,
                            description: data[i].room_name+" ",
                            start: startTime,
                            end: newT,
                            color: color
                          },true)
                        }
                      }
                    })
                  }

          })
          }

              //- $('#fullCalendar').fullcalendar('renderEvent',{
              //-   id: 1,
              //-   resourceId: '9',
              //-   title: 'AAAAA',
              //-   start: '2018-08-17T13:30:00',
              //-   end: '2018-08-17T14:30:00'
              //- },true)
        })
  script.
      $(document).ready(function(){
        var customerId= $('#Id').val()
        var date = !{JSON.stringify(date)}
        $('#fullCalendar').fullCalendar({
          header: {
              left:   'title',
              center: '',
              right:  ''
          },
          defaultView: 'agendaDay',
          nowIndicator: true,
          groupByResource: true,
          defaultDate: moment(date.date, "MM-DD-YYYY"),
          slotDuration: "00:05:00",
          minTime: "12:00",
          maxTime: "25:40",
          scrollTime: "01:00", 
          schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
          resources: [
            
          ],
          dayClick: function(date, jsEvent, view, resource) {
            var timeNow = moment().format('YYYY-MM-DD HH:mm')
            //- var businessHours = reqSession.utilities.businessHours
            var businessHoursDate = moment().format('YYYY-MM-DD')
            var businessHours = businessHoursDate+' 13:00'
            var businessHoursTime = '13:00'
            var kahitano = date.format('YYYY-MM-DD HH:mm')
            var kahitanotime = date.format('HH:mm')
            if(moment(kahitano).isSameOrAfter(businessHours) && kahitanotime >= businessHoursTime && moment(kahitano).isSameOrAfter(timeNow))
            {
              var timePicked= date.format('hh:mm A')
              var datePicked = !{JSON.stringify(date)}
              swal({
                title: "You Clicked " + date.format('hh:mm A')+" From "+resource.titl,
                text: "Are You Sure?",
                icon: "info",
                buttons: ["Cancel","Proceed"],
                dangerMode: true
                
              }).then((proceed) => {
                if(proceed)
                {
                  location.href=`/bookreservation?time=${timePicked}&date=${datePicked.date}&room=${resource.title}&roomId=${resource.id}`
                }
                else
                {

                }
                });
              }
              else 
              {

              }
            //- alert(' you clicked ' + date.format('hh:mm A') + ' from '+ resource.title);
          },
          select: function(startDate, endDate, jsEvent, view, resource) {
            //- alert('selected ' + startDate.format() + ' to ' +resource.title);
          },
          businessHours: {
            // days of week. an array of zero-based day of week integers (0=Sunday)
            dow: [ 1, 2, 3, 4, 5, 6, 7 ], // Monday - Thursday

            start: '13:00', 
            end: '01:00', 
          },
          eventRender: function(eventObj, $el) {
            $el.popover({
              title: eventObj.description,
              content: eventObj.title2,
              trigger: 'hover',
              placement: 'top',
              container: 'body'
            });
          },
          eventClick: function(eventObj) {
             var timeNow = moment().format('YYYY-MM-DD HH:mm')
            //- var businessHours = reqSession.utilities.businessHours
            var businessHoursDate = moment().format('YYYY-MM-DD')
            var businessHours = businessHoursDate+' 13:00'
            var businessHoursTime = '13:00'
            var kahitano = eventObj.start.format('YYYY-MM-DD HH:mm')
            var kahitanotime = eventObj.start.format('HH:mm')
            var dateStart= eventObj.start
            if (moment(kahitano).isSameOrAfter(businessHours) && kahitanotime >= businessHoursTime && moment(kahitano).isSameOrAfter(timeNow)) 
            {
              var timePicked= eventObj.start.format('hh:mm A')
              var datePicked = !{JSON.stringify(date)}
              swal({
                title: "You Clicked " + eventObj.start.format('hh:mm A')+" From "+eventObj.description+" "+eventObj.title3,
                text: "Are You Sure?",
                icon: "info",
                buttons: ["Cancel","Proceed"],
                dangerMode: true
                
              }).then((proceed) => {
                if(proceed)
                {
                  location.href=`/bookreservation?time=${timePicked}&date=${datePicked.date}&room=${eventObj.description}&roomId=${eventObj.resourceId}`
                }
                else
                {

                }
                });
            } 
          },
          //- events: [
            
          //- ]
        });
        //- $('#fullCalendar').fullCalendar('gotoDate', date.date )
    });
    
  script.
    $(document).ready(function() {
      var interval = setInterval(function() {
          var momentNow = moment();
          $('#date-part').html(momentNow.format('YYYY MMMM DD') + ' '
                              + momentNow.format('dddd')
                              .substring(0,3).toUpperCase());
          $('#time-part').html(momentNow.format('A hh:mm:ss'));
      }, 100);
      
      $('#stop-interval').on('click', function() {
          clearInterval(interval);
      });
      //- $('#calendar').val('')
      });