doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/paperDashboardPro/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Paper Dashboard PRO by Creative Tim
    // Canonical SEO
    link(rel='canonical', href='http://www.creative-tim.com/product/paper-dashboard-pro')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Social tags
    meta(name='keywords', content='creative tim, html dashboard, html css dashboard, web dashboard, bootstrap dashboard, bootstrap, css3 dashboard, bootstrap admin, paper bootstrap dashboard, frontend, responsive bootstrap dashboard')
    meta(name='description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised. ')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Paper Dashboard PRO by Creative Tim')
    meta(itemprop='description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised. If you are looking for a tool to manage and visualise data about your business, this dashboard is the thing for you.')
    meta(itemprop='image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    // Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@creativetim')
    meta(name='twitter:title', content='Paper Dashboard PRO by Creative Tim')
    meta(name='twitter:description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.')
    meta(name='twitter:creator', content='@creativetim')
    meta(name='twitter:image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    // Open Graph data
    meta(property='og:title', content='Paper Dashboard PRO by Creative Tim')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://demos.creative-tim.com/paper-dashboard-pro/examples/dashboard/overview.html')
    meta(property='og:image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    meta(property='og:description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.')
    meta(property='og:site_name', content='Creative Tim')
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='http://www.creative-tim.com')
            | CT
          a.simple-text.logo-normal(href='http://www.creative-tim.com')
            | MBAY Health Spa
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/faces/face-2.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Front Desk
              .clearfix
          ul.nav
            li
              a(href='./admindashboard.html')
                i.ti-dashboard
                p
                  | Dashboard
            li.active
              a(data-toggle='collapse', href='#componentsExamples')
                i.ti-clipboard
                p
                  | Maintenance
                  b.caret
              #componentsExamples.collapse.in
                ul.nav
                  li
                    a(href='./adminCustomer')
                      span.sidebar-mini C
                      span.sidebar-normal Customer
                  li
                    a(href='./adminTherapist')
                      span.sidebar-mini T
                      span.sidebar-normal Therapist
                  li
                    a(href='./adminServices')
                      span.sidebar-mini S
                      span.sidebar-normal Services
                  li
                    a(href='./adminAmenities')
                      span.sidebar-mini A
                      span.sidebar-normal Amenities
                  li
                    a(href='./adminPromos')
                      span.sidebar-mini P
                      span.sidebar-normal Promos
                  li.active
                    a(href='./adminRooms')
                      span.sidebar-mini R
                      span.sidebar-normal Rooms
            li
              a(data-toggle='collapse', href='#tablesExamples')
                i.ti-panel
                p
                  | Transaction
                  b.caret
              #tablesExamples.collapse
                ul.nav
                  li
                    a(href='/adminReservation')
                      span.sidebar-mini R
                      span.sidebar-normal Reservations
                  li
                    a(href='/adminQueues')
                      span.sidebar-mini Q
                      span.sidebar-normal Queue
            li
              a(data-toggle='collapse')
                i.ti-settings
                p
                  | Utilities
            li
              a(data-toggle='collapse', href='#sales')
                i.ti-bar-chart-alt
                p
                  | Sales
                  b.caret
              #sales.collapse
                ul.nav
                  li
                    a(href='/assets/tables/regular.html')
                      span.sidebar-mini D
                      span.sidebar-normal Daily
                  li
                    a(href='/assets/tables/datatables.net.html')
                      span.sidebar-mini W
                      span.sidebar-normal Weekly
                  li
                    a(href='/assets/tables/datatables.net.html')
                      span.sidebar-mini M
                      span.sidebar-normal Monthly
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#Dashboard')
                | Overview
            .collapse.navbar-collapse
              form.navbar-form.navbar-left.navbar-search-form(role='search')
                .input-group
                  span.input-group-addon
                    i.fa.fa-search
                  input.form-control(type='text', value='', placeholder='Search...')
              ul.nav.navbar-nav.navbar-right
                li
                  a.dropdown-toggle.btn-magnify(href='#stats', data-toggle='dropdown')
                    i.ti-panel
                    p Stats
                li.dropdown
                  a.dropdown-toggle.btn-rotate(href='#notifications', data-toggle='dropdown')
                    i.ti-bell
                    span.notification 5
                    p.hidden-md.hidden-lg
                      | Notifications
                      b.caret
                  ul.dropdown-menu
                    li
                      a(href='#not1') Notification 1
                    li
                      a(href='#not2') Notification 2
                    li
                      a(href='#not3') Notification 3
                    li
                      a(href='#not4') Notification 4
                    li
                      a(href='#another') Another notification
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    .col-md-6
                      .card-content
                        button.btn.btn-info.btn-fill.btn-wd(data-toggle='modal', data-target='#addNewService') Add New Room   
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .toolbar
                                // Here you can write extra buttons/actions for the toolbar
                              .fresh-datatables
                                table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                  thead
                                    tr
                                      th Room Type
                                      th Room Name
                                      th Bed Quantity
                                      th Room Availability
                                      th.disabled-sorting Actions
                                  tfoot
                                    tr
                                      th Room Type
                                      th Room Name
                                      th Bed Quantity
                                      th Room Availability
                                      th Actions
                                  tbody
                                    each room in rooms
                                      tr
                                        td= room.room_type
                                        td= room.room_name 
                                        td= room.bed_qty
                                        td
                                          if(room.room_availability ==0)
                                            label Available
                                          else if(room.room_availability ==1)
                                            label Not Available
                                        
                                        td
                                          button.btn.btn-simple.btn-warning.updateButton(data-toggle='modal', value=`${room.room_id}`)
                                            i.ti-pencil-alt
                                          button.btn.btn-simple.btn-danger.deleteButton(data-toggle='modal', value=`${room.room_id}`)
                                            i.ti-close
                                    
                              .row
                                .col-md-6
                                  .card-header
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .row
                                .col-md-6
                                  .card-header
                                    h4.card-title
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .card-header
                                h4.card-title
                              .card-content
                                .row
                                  .col-md-12
                                .row
                                  .col-md-12
                                .row
                  //ADD
                  #addNewService.modal.fade(tabindex='-1', role='dialog')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5.modal-title
                            center Add New Room
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                        form(method='POST' action='/adminRooms')
                          .modal-body
                            .row
                              .col-md-6
                                .form-group.has-default.bmd-form-group
                                  label Room Type*
                                  select.selectpicker(name='type'  data-style='btn-info')
                                      option(value='Common') Common Room
                                      option(value='Private') Private Room
                                      option(value='Deluxe') Deluxe Room
                              .col-md-6
                                .form-group.has-default.bmd-form-group
                                  label Room Name*
                                  input.form-control(type='text', placeholder='Room Name' name='name')
                            .row
                              .col-md-6
                                .form-group.has-default.bmd-form-group
                                  label Bed Quantity*
                                  select.selectpicker(name='quantity'  data-style='btn-info')
                                      option(value='1') 1
                                      option(value='2') 2
                                      option(value='3') 3
                                      option(value='4') 4
                                      option(value='5') 5
                                      option(value='6') 6
                                      option(value='7') 7
                                      option(value='8') 8
                                      option(value='9') 9
                                      option(value='10') 10
                                      option(value='11') 11
                                      option(value='12') 12
                                      option(value='13') 13
                                      option(value='14') 14
                                      option(value='15') 15
                                      option(value='16') 16
                                      option(value='17') 17
                                      option(value='18') 18
                                      option(value='19') 19
                                      option(value='20') 20


                              .col-md-6

                            .row
                          .modal-footer
                            button#add.btn.btn-secondary.pull-left.btn.btn-info.btn-fill.btn-wd(type='submit') Add Room
                            button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel
                  
                  // DELETE  
                  #modal-warning.modal.modal-warning.fade
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4.modal-title Warning
                        .modal-body
                          p Are you sure you?
                        .modal-footer
                            button.btn.btn-danger.btn-fill.pull-left#cancelButton(type='button', data-dismiss='modal') No
                            button.btn.btn-info.btn-fill.pull-right#deleteSubmit(type='button') Yes
                  
                  //UPDATE
                  #updateModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title Room Information
                          button.close(type='button', data-dismiss='modal', aria-label='Close') 
                            span(aria-hidden='true') x
                        .modal-body#updateAppend
                        .modal-footer
                            button.btn.btn-danger.btn-fill.pull-left#cancelButton(type='button', data-dismiss='modal') Close
                            button.btn.btn-info.btn-fill.pull-right#updateSubmitButton(href='button') Submit

                  footer.footer
                    .container-fluid
                      nav.pull-left
                        ul
                          li
                            a(href='http://www.creative-tim.com')
                              | Creative Tim
                          li
                            a(href='http://blog.creative-tim.com')
                              | Blog
                          li
                            a(href='http://www.creative-tim.com/license')
                              | Licenses
                      .copyright.pull-right
                        | © 
                        script.
                          document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by 
                        a(href='http://www.creative-tim.com') Team MBAY
            
  // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
  script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
  // Forms Validations Plugin
  script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
  // Promise Library for SweetAlert2 working on IE
  script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
  // Plugin for Date Time Picker and Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/moment.min.js')
  // Date Time Picker Plugin is included in this js file
  script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
  // Select Picker Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
  // Switch and Tags Input Plugins
  script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
  // Circle Percentage-chart
  script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
  // Charts Plugin
  script(src='/assets/paperDashboardPro/js/chartist.min.js')
  // Notifications Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
  // Sweet Alert 2 plugin
  script(src='/assets/paperDashboardPro/js/sweetalert.js')
  // Vector Map plugin
  script(src='/assets/paperDashboardPro/js/jquery-jvectormap.js')
  // Google Maps Plugin
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M')
  // Wizard Plugin
  script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
  // Bootstrap Table Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
  // Plugin for DataTables.net
  script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
  // Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/fullcalendar.min.js')
  // Paper Dashboard PRO Core javascript and methods for Demo purpose
  script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
  // Sharrre Library
  script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
  // Paper Dashboard PRO DEMO methods, don't include it in your project!
  script(src='/assets/paperDashboardPro/js/demo.js')
  script.
      $(document).ready(function(){
        $('.deleteButton').click(function(){
            var idNow = $(this).val();
            console.log(idNow)
            $('#modal-warning').modal('show');
            $('#deleteSubmit').css('display', 'block');
            $('#cancelButton').css('display', 'block');
                $('#cancelButton').click(function(){
                  var idNow = 0;
                });
                $('#deleteSubmit').click(function(){
                $.post('/adminRooms/delete',{id:idNow})
                    .done(data=>{
                      if(data){
                          swal({
                          title:'Success', 
                          text:'Room Deleted', 
                          icon:'success'
                          }).then(function(){
                            location.reload();
                          })
                        $('#updateModal').modal('hide');
                      }
                  })
            });
            
        });
        $('.updateButton').click(function(){
          var idNow = $(this).val();
              $.post('/adminRooms/query',{id1:idNow})
          .done(data=>{
              $('#updateAppend').append(`
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-default bmd-form-group">
                        <label>Room Type*</label>
                        <select id="room_type" title="${data.room_type} Room" name="room_type" data-style="btn-info" class="selectpicker">
                          <option value="Common">Common Room</option>
                          <option value="Private">Private Room</option>
                          <option value="Deluxe">Deluxe Room</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-default bmd-form-group">
                        <label>Room Name*</label>
                        <input type="text" placeholder="${data.room_name}" value="${data.room_name}" id="room_name" name="room_name" class="form-control"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-default bmd-form-group">
                        <label>Bed Quantity*</label>
                        <select id="bed_qty" title="${data.bed_qty}" name="bed_qty" data-style="btn-info" class="selectpicker">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-default bmd-form-group">
                        <label>Room Availability</label>
                        <select id="room_availability" name="room_availability" title="${data.room_availability}" data-style="btn-info" class="selectpicker">
                          <option value="Common">Available</option>
                          <option value="Private">Not Available</option>
                        </select>
                      </div>
                    </div>
                  </div>`)
              $('#updateModal').modal('show')
              $('#bed_qty').selectpicker();
              $('#room_type').selectpicker();
              $('#room_availability').selectpicker();
              $('#updateModal').on('hidden.bs.modal', function (){
                $('#updateAppend').empty()
                });
              $('#cancelButton').click(function(){
                $('#updateAppend').remove();
              })
              $('#updateSubmitButton').click(function(){
                  
                 
                  $.post('/adminRooms/update',{
                  room_name:$('#room_name').val(),
                  bed_qty:$('#bed_qty').val(),
                  room_type:$('#room_type').val(),
                  room_availability:$('#room_availability').val(),
                  
                  id1:idNow
                  })
                  .done(data=>{
                      if(data){
                          swal({
                          title:'Success', 
                          text:'Room Information Updated', 
                          icon:'success'
                          }).then(function(){
                            location.reload();
                          })
                        $('#updateModal').modal('hide');
                      }
                  })
                })
              })

          })
      })
  script(type='text/javascript').
    $(document).ready(function(){
    demo.initOverviewDashboard();
    demo.initCirclePercentage();
    });
  script(type='text/javascript').
    $(document).ready(function() {
    $('#datatables').DataTable({
    "pagingType": "full_numbers",
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    responsive: true,
    language: {
    search: "_INPUT_",
    searchPlaceholder: "Search records",
    }
    });
    $('#add').click(function(){
    swal({
      title:'Success', 
      text:'New Room Added', 
      icon:'success'})
      .then(function(){
      location.reload();
    })
    });
    });
