doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/paperDashboardPro/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Online Booking and Spa Management System
    // Canonical SEO
    link(rel='canonical', href='http://www.creative-tim.com/product/paper-dashboard-pro')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Social tags
    meta(name='keywords', content='creative tim, html dashboard, html css dashboard, web dashboard, bootstrap dashboard, bootstrap, css3 dashboard, bootstrap admin, paper bootstrap dashboard, frontend, responsive bootstrap dashboard')
    meta(name='description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised. ')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Paper Dashboard PRO by Creative Tim')
    meta(itemprop='description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised. If you are looking for a tool to manage and visualise data about your business, this dashboard is the thing for you.')
    meta(itemprop='image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    // Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@creativetim')
    meta(name='twitter:title', content='Paper Dashboard PRO by Creative Tim')
    meta(name='twitter:description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.')
    meta(name='twitter:creator', content='@creativetim')
    meta(name='twitter:image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    // Open Graph data
    meta(property='og:title', content='Paper Dashboard PRO by Creative Tim')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://demos.creative-tim.com/paper-dashboard-pro/examples/dashboard/overview.html')
    meta(property='og:image', content='http://s3.amazonaws.com/creativetim_bucket/products/47/original/opt_pdp_thumbnail.jpg')
    meta(property='og:description', content='Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.')
    meta(property='og:site_name', content='Creative Tim')
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')

    link(href='/assets/datetimepicker/bootstrap-datetimepicker-solo.css', rel='stylesheet')
    style.
      .pull-right .dropdown-menu:after {
        left: auto;
        right: 10px;
          }
      .pull-right .dropdown-menu {
          left: auto;
          right: 0;
      }
  body
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='http://www.creative-tim.com')
            | CT
          a.simple-text.logo-normal(href='http://www.creative-tim.com')
            | MBAY Health Spa
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/faces/face-2.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Front Desk
              .clearfix
          ul.nav
            li
              a(href='./admindashboard')
                i.ti-dashboard
                p
                  | Dashboard
            li
              a(data-toggle='collapse', href='#componentsExamples')
                i.ti-clipboard
                p
                  | Maintenance
                  b.caret
              #componentsExamples.collapse
                ul.nav
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#services')
                      p
                        span.sidebar-mini S
                        | Services
                        b(style="margin-right: 30px").caret
                    #services.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminServiceType')
                            span.sidebar-normal Service Type
                        li(style="margin-left: 30px")
                          a(href='./adminServices')
                            span.sidebar-normal Services
                        li(style="margin-left: 30px")
                          a(href='./adminServiceDuration')
                            span.sidebar-normal Service Duration
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#cust')
                      p
                        span.sidebar-mini T
                        | Therapist
                        b(style="margin-right: 30px").caret
                    #cust.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminSpecialty')
                            span.sidebar-normal Therapist Specialty
                        li(style="margin-left: 30px")
                          a(href='./adminTherapist')
                            span.sidebar-normal Therapist
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#amenities')
                      p
                        | Amenities
                        span.sidebar-mini A
                        b(style="margin-right: 30px").caret
                    #amenities.collapse
                      ul.nav    
                        li(style="margin-left: 30px")
                          a(href='./adminAmenities')
                            span.sidebar-normal Amenities
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#promos')
                      p
                        span.sidebar-mini P
                        | Promos
                        b(style="margin-right: 30px").caret
                    #promos.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminPromos')
                            span.sidebar-normal Promos
                  li(style="margin-left: 5px;")
                    a(data-toggle='collapse', href='#rooms')
                      p
                        span.sidebar-mini R
                        | Rooms
                        b(style="margin-right: 30px").caret
                    #rooms.collapse
                      ul.nav
                        li(style="margin-left: 30px")
                          a(href='./adminRoomType')
                            span.sidebar-normal Room Type
                        li(style="margin-left: 30px")
                          a(href='./adminRooms')
                            span.sidebar-normal Rooms
                  //-li
            li.active
              a(data-toggle='collapse', href='#tablesExamples')
                i.ti-panel
                p
                  | Transaction
                  b.caret
              #tablesExamples.collapse.in
                 ul.nav
                  li.active
                    a(href='/adminCustomer')
                      span.sidebar-mini R
                      span.sidebar-normal Registration
                  li
                    a(href='/adminReservation')
                      span.sidebar-mini R
                      span.sidebar-normal Reservations
                  li
                    a(href='/adminWalkin')
                      span.sidebar-mini W
                      span.sidebar-normal Walk-in
                  li
                    a(href='/adminQueue')
                      span.sidebar-mini Q
                      span.sidebar-normal Queue 
            li
              a(data-toggle='collapse')
                i.ti-settings
                p
                  | Utilities
            li
              a(data-toggle='collapse', href='#sales')
                i.ti-bar-chart-alt
                p
                  | Sales
                  b.caret
              #sales.collapse
                ul.nav
                  li
                    a(href='/assets/tables/regular.html')
                      span.sidebar-mini D
                      span.sidebar-normal Daily
                  li
                    a(href='/assets/tables/datatables.net.html')
                      span.sidebar-mini W
                      span.sidebar-normal Weekly
                  li
                    a(href='/assets/tables/datatables.net.html')
                      span.sidebar-mini M
                      span.sidebar-normal Monthly
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#Dashboard')
                | Overview
            .collapse.navbar-collapse
              form.navbar-form.navbar-left.navbar-search-form(role='search')
                .input-group
                  span.input-group-addon
                    i.fa.fa-search
                  input.form-control(type='text', value='', placeholder='Search...')
              ul.nav.navbar-nav.navbar-right
                li
                  a.dropdown-toggle.btn-magnify(href='/frontdeskHome')
                    p HOME
                li.dropdown
                  a.dropdown-toggle.btn-rotate(href='#notifications', data-toggle='dropdown')
                    i.ti-bell
                    span.notification 5
                    p.hidden-md.hidden-lg
                      | Notifications
                      b.caret
                  ul.dropdown-menu
                    li
                      a(href='#not1') Notification 1
                    li
                      a(href='#not2') Notification 2
                    li
                      a(href='#not3') Notification 3
                    li
                      a(href='#not4') Notification 4
                    li
                      a(href='#another') Another notification
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    .col-md-6
                      .card-content
                        button.btn.btn-info.btn-fill.btn-wd(data-toggle='modal', data-target='#addNewCust') Add New Customer
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .toolbar
                                // Here you can write extra buttons/actions for the toolbar
                              .fresh-datatables
                                table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                  thead
                                    tr
                                      th Name
                                      th Adress
                                      th Birthday
                                      th Gender
                                      th Contact No
                                      th Medical History
                                      th.disabled-sorting Actions
                                  tfoot
                                    tr
                                      th Name
                                      th Adress
                                      th Birthday
                                      th Gender
                                      th Contact No
                                      th.disabled-sorting Medical History
                                      th.disabled-sorting Actions
                                    
                                  tbody
                                    each customer in customers
                                      tr
                                        td= customer.cust_fname+" "+customer.cust_mname+" "+customer.cust_lname
                                        td= customer.address_house_no+" "+customer.address_street_name+" "+customer.address_admin_district+" "+customer.address_city
                                        td= customer.cust_birthMonth+" "+customer.cust_birthDate+" "+customer.cust_birthYear
                                        td= customer.cust_gender
                                        td= customer.cust_contact_no
                                        td
                                          button.btn.btn-wd.btn-fill.btn-info.btn-magnify.medicalHistoryButton(data-toggle="dropdown", value=`${customer.cust_id}`) 
                                            span.btn-label
                                            i.ti-eye 
                                            |  View 
                                        
                                        td
                                          .dropdown.pull-right(style="right: 15px")
                                            button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 13px')
                                              i.ti-settings
                                            ul.dropdown-menu
                                              li
                                                button.btn.btn-simple.btn-warning.updateButton(data-toggle='modal', value=`${customer.cust_id}` stlye="margin-right: 15px")
                                                  span.btn-label
                                                  i.ti-pencil-alt
                                                  |  Update
                                              li
                                                button.btn.btn-simple.btn-danger.deleteButton(data-toggle='modal', value=`${customer.cust_id}` stlye="margin-right: 15px")
                                                  span.btn-label
                                                  i.ti-trash
                                                  |  Delete
                                   
                              .row
                                .col-md-6
                                  .card-header
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .row
                                .col-md-6
                                  .card-header
                                    h4.card-title
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .card-header
                                h4.card-title
                              .card-content
                                .row
                                  .col-md-12
                                .row
                                  .col-md-12
                                .row


                    // ADD
                  #addNewCust.modal.fade(tabindex='-1', role='dialog')
                    .modal-dialog.modal-lg(role='document')
                      .modal-content
                        .modal-header
                          h5.modal-title
                            center Add New Customer
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                        form#allInputsFormValidation(method='POST' action='/adminCustomer')
                          .modal-body
                            .row
                              .col-md-4
                                .form-group.has-default.bmd-form-group(action='', method='post', novalidate='')

                                  label Last Name
                                  star *
                                  input.form-control(type='text', placeholder='Last Name' name='lastname' required='true' aria-label='true')
                              .col-md-4
                                .form-group.has-default.bmd-form-group
                                  label First Name
                                  star *
                                  input.form-control(type='text', placeholder='First Name' name='firstname' required='true' aria-label='true') 
                              .col-md-4
                                .form-group.has-default.bmd-form-group
                                  label Middle Name
                                  input.form-control(type='text', placeholder='Middle Name' name='middlename' )     
                            .row
                              .col-md-3
                                .form-group.has-default.bmd-form-group
                                  label Address
                                  star *
                                  input.form-control(type='text', placeholder='House Number' name='house_no' required='true' aria-label='true')
                              .col-md-3
                                .form-group.has.default.bmd-form-group
                                  label
                                  input.form-control(type='text', placeholder='Street Name' name='street_name' required='true' aria-label='true')
                              .col-md-4
                                .form-group.has.default.bmd-form-group
                                  label
                                  input.form-control(type='text', placeholder='Barangay/Administrative District' name='brgy_district' required='true' aria-label='true')  
                              .col-md-2
                                .form-group.has.default.bmd-form-group
                                  label
                                  input.form-control(type='text', placeholder='City' name='city' required='true' aria-label='true')     
                                    

                            .row
                              .col-md-4
                                .form-group.has-default.bmd-form-group
                                  label Birthday
                                  star *
                                  input.form-control.datepicker(type='date', placeholder='Age' name='age' required='true' aria-label='true')
                              .col-md-4
                                .form-group.has-default.bmd-form-group
                                  label Gender
                                  star *
                                  select.selectpicker(name='gender'  data-style='btn-info')
                                    option(value='Male') Male
                                    option(value='Female') Female
                              .col-md-4
                                .form-group.has-default.bmd-form-group
                                  label Mobile Number*
                                  input.form-control(type='number' placeholder='Mobile Number' name='contact_no' minlength="11" maxlength="11" required)
                              //- .col-md-5
                              //-   .form-group.has-default.bmd-form-group
                              //-     label E-mail Address*
                              //-     input.form-control(type='text', placeholder='E-mail' name='email')
                            .form-group.has-default.bmd-form-group
                              label Medical History
                              textarea.form-control(type='text', placeholder='Medical History' name="medical_history")
                            //- .form-group.has-default.bmd-form-group
                            //-   p.category Loyalty Member
                            //-   input.switch-icon(type='checkbox', checked='')
                            //- .row
                            //-   .col-md-6
                            //-     .form-group.has-default.bmd-form-group
                            //-       label Username*
                            //-       input.form-control(type='text', placeholder='Username')
                            //-   .col-md-6
                            //-     .form-group.has-default.bmd-form-group
                            //-       label Password
                            //-       input.form-control(type='password', placeholder='Password')
                          .modal-footer
                            button#add.btn.btn-secondary.pull-left.btn.btn-info.btn-fill.btn-wd(type='submit') Add Customer
                            button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Cancel
                    
                  

                    // DELETE  
                  #modal-warning.modal.modal-warning.fade
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4.modal-title Warning
                        .modal-body
                          p Are you sure you?
                        .modal-footer
                            button.btn.btn-danger.btn-fill.pull-left#cancelButton(type='button', data-dismiss='modal') No
                            button.btn.btn-info.btn-fill.pull-right#deleteSubmit(type='button') Yes
                  //UPDATE
                  #updateModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title Customer Information
                          button.close(type='button', data-dismiss='modal', aria-label='Close') 
                            span(aria-hidden='true') x
                        .modal-body#updateAppend
                        .modal-footer
                            button.btn.btn-danger.btn-fill.pull-left#cancelButton(type='button', data-dismiss='modal') Close
                            button.btn.btn-info.btn-fill.pull-right#updateSubmitButton(type='button') Submit
                  
                  //MEDICAL HISTORY
                  #medicalHistoryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog.modal-lg(role='document')
                      .modal-content
                        .modal-header
                          h5.modal-title#title 
                          | Medical History
                          button.close(type='button', data-dismiss='modal', aria-label='Close') 
                            span(aria-hidden='true') x
                        .modal-body#medicalAppend
                        .modal-footer
                            button.btn.btn-danger.btn-fill.pull-left#cancelButton(type='button', data-dismiss='modal') Close

                  
                  
                  footer.footer
                    .container-fluid
                      .copyright.pull-right
                        | © 
                        script.
                          document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by 
                        a(href='http://www.creative-tim.com') Team MBAY
  // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
  script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
  script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
  // Forms Validations Plugin
  script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
  // Promise Library for SweetAlert2 working on IE
  script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
  // Plugin for Date Time Picker and Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/moment.min.js')
  // Date Time Picker Plugin is included in this js file
  script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
  // Select Picker Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
  // Switch and Tags Input Plugins
  script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
  // Circle Percentage-chart
  script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
  // Charts Plugin
  script(src='/assets/paperDashboardPro/js/chartist.min.js')
  // Notifications Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
  // Sweet Alert 2 plugin
  script(src='/assets/paperDashboardPro/js/sweetalert.js')
  // Vector Map plugin
  script(src='/assets/paperDashboardPro/js/jquery-jvectormap.js')
  // Google Maps Plugin
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M')
  // Wizard Plugin
  script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
  // Bootstrap Table Plugin
  script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
  // Plugin for DataTables.net
  script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
  // Full Calendar Plugin
  script(src='/assets/paperDashboardPro/js/fullcalendar.min.js')
  // Paper Dashboard PRO Core javascript and methods for Demo purpose
  script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
  // Sharrre Library
  script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
  // Paper Dashboard PRO DEMO methods, don't include it in your project!
  script(src='/assets/paperDashboardPro/js/demo.js')
  
  script(src='/assets/bootstrap-datetimepicker.min')

  script.
      $(document).ready(function(){
        $('.deleteButton').click(function(){
            var idNow = $(this).val();
            console.log(idNow)
            $('#modal-warning').modal('show');
            $('#deleteSubmit').css('display', 'block');
            $('#cancelButton').css('display', 'block');
                $('#cancelButton').click(function(){
                  var idNow = 0;
                });
                $('#deleteSubmit').click(function(){
                $.post('/adminCustomer/delete',{id:idNow})
                  .done(data=>{
                    if(data){
                        swal({
                        title:'Success', 
                        text:'Customer Deleted', 
                        icon:'success'
                        }).then(function(){
                          location.reload();
                        })
                      $('#updateModal').modal('hide');
                    }
                  })
            });
            
        });
        // VIEW CUSTOMER MEDICAL HISTORY
        $('.medicalHistoryButton').click(function(){
          var idNow = $(this).val();
            $.post('adminCustomer/medicalHistory',{id1:idNow})
          .done(data=>{
            console.log(data)
            $('#title').append(`${data.out.cust_fname} ${data.out.cust_mname} ${data.out.cust_lname}`)
            $('#medicalAppend').append(`
                  <div class="row">
                    <div class="col-md-6" id="medical_history">
                      <div class="form-group has-default bmd-form-group">
                      
                      </div>
                    </div>
                  </div>
            `)
            $('#medical_history').append(`<p> ${data.out.medical_history}</p>`)
            $('#medicalHistoryModal').modal('show')
            $('#medicalHistoryModal').on('hidden.bs.modal', function (){
                $('#medical_history').remove()
              });
               $('#medicalHistoryModal').on('hidden.bs.modal', function (){
                $('#title').empty()
              });
          })
        })
        $('.updateButton').click(function(){
          var idNow = $(this).val();
              $.post('/adminCustomer/query',{id1:idNow})
          .done(data=>{
              $('#updateAppend').append(`
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group has-default bmd-form-group">
                        <label>Last Name*</label>
                        <input type="text" name="cust_lastname" placeholder="${data.cust_lname}" value="${data.cust_lname}" id="cust_lname" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group has-default bmd-form-group">
                        <label>First Name*</label>
                        <input type="text" placeholder="${data.cust_fname}" value="${data.cust_fname}" name="cust_fname" id="cust_fname" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group has-default bmd-form-group">
                        <label>Middle Name</label>
                        <input type="text" placeholder="${data.cust_mname}" value="${data.cust_mname}" name="cust_mname" id="cust_mname" class="form-control"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-default bmd-form-group">
                        <label>Address*</label>
                        <input type="text" placeholder="${data.address_house_no}" value="${data.address_house_no}" id="address_house_no" name="address_house_no" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has default bmd-form-group">
                        <label></label>
                        <input type="text" placeholder="${data.address_street_name}" value="${data.address_street_name}" id="address_street_name" name="address_street_name" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group has default bmd-form-group">
                        <label></label>
                        <input type="text" placeholder="${data.address_admin_district}" value="${data.address_admin_district}" id="address_admin_district" name="address_admin_district" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has default bmd-form-group">
                        <label></label>
                        <input type="text" placeholder="${data.address_city}" value="${data.address_city}" name="address_city" id="address_city" class="form-control"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group has-default bmd-form-group">
                        <label>Age*</label>
                        <input type="text" placeholder="${data.cust_age}" value="${data.cust_age}" name="cust_age" id="cust_age" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has-default bmd-form-group">
                        <label>Gender*</label>
                        <select id="gender" title="${data.cust_gender}" data-style="btn-info" class="selectpicker">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-default bmd-form-group">
                        <label>Mobile Number*</label>
                        <input type="tel" placeholder="${data.cust_contact_no}" value="${data.cust_contact_no}" id="cust_contact_no" name="cust_contact_no" class="form-control" minlength="11" maxlength="11" />
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </form>`)
              if(data.cust_gender == 'Male'){
                $('#gender').append(`<option value="Male" selected>Male</option>
                    <option value="Female">Female</option>`
                )
              }
              if(data.cust_gender == 'Female'){
                $('#gender').append(`<option value="Male">Male</option>
                    <option value="Female" selected>Female</option>`
                )
              }
              $('#updateModal').modal('show')
              $('#gender').selectpicker()
              $('#updateModal').on('hidden.bs.modal', function (){
                $('#updateAppend').empty()
                });
              $('#cancelButton').click(function(){
                $('#updateAppend').remove();
              })
              $('#updateSubmitButton').click(function(){
                  $.post('/adminCustomer/update',{
                  cust_fname:$('#cust_fname').val(),
                  cust_mname:$('#cust_mname').val(),
                  cust_lname:$('#cust_lname').val(),
                  address_house_no:$('#address_house_no').val(),
                  address_street_name:$('#address_street_name').val(),
                  address_admin_district:$('#address_admin_district').val(),
                  address_city:$('#address_city').val(),
                  cust_gender:$('#gender').val(),
                  cust_contact_no:$('#cust_contact_no').val(),
                  
                  id1:idNow
                  })
                  .done(data=>{
                      if(data){
                          swal({
                          title:'Success', 
                          text:'Customer Information Updated', 
                          icon:'success'
                          }).then(function(){
                            location.reload();
                          })
                        $('#updateModal').modal('hide');
                      }
                  })
                })
              })

          })
      })
      $('.datepicker').datetimepicker({
          format: 'YYYY-MM-DD',
          icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
      });
  script(type='text/javascript').
    $(document).ready(function(){
    demo.initOverviewDashboard();
    demo.initCirclePercentage();
    });
  script(type='text/javascript').
    $(document).ready(function() {
    $('#datatables').DataTable({
    "pagingType": "full_numbers",
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    responsive: true,
    language: {
    search: "_INPUT_",
    searchPlaceholder: "Search records",
    }
    });
    //- $('#add').click(function(){
    //- swal({
    //-   title:'Success', 
    //-   text:'Customer Added', 
    //-   icon:'success'})
    //-   .then(function(){
    //-   location.reload();
    //- })
    //- });
    //- });
  script.
    $().ready(function(){
    $('#registerFormValidation').validate();
    $('#loginFormValidation').validate();
    $('#allInputsFormValidation').validate();
      });  
 
