doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href=`/upload/${reqSession.utilities[0].company_logo}`)
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{reqSession.utilities[0].company_name}
    
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
  body.sidebar-mini
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='')
            | 
          a.simple-text.logo-normal(href='./home')
            | #{reqSession.utilities[0].company_name}
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/icon.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Staff
              .clearfix
          ul.nav
            li.active
              a(href='./home')
                i.ti-user
                p
                  | Queue
            li
              a(href='./reservationList')
                i.ti-calendar
                p
                  | Reservation
            li
              a(href='./ongoing')
                i.ti-reload
                p
                  | Ongoing Service
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#Dashboard')
                | Queue
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a#date-part(style="color: black")
                li
                  a#time-part(style="color: black") 
                li
                  a.logout(style="cursor: pointer; color: black") Log Out
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    div
                      .card-content
                        center
                          h2 Queue
                        
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .toolbar
                                // Here you can write extra buttons/actions for the toolbar
                              .fresh-datatables
                                table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                  thead
                                    tr
                                      th.disabled-sorting Name
                                      th.disabled-sorting Room
                                      th.disabled-sorting Gender
                                      th.disabled-sorting Name
                                      th.disabled-sorting Time
                                      th.disabled-sorting Reservation Details
                                      th.disabled-sorting Actions
                                 
                                  tbody
                                    each walkin in walkins
                                      tr
                                        if(walkin.cust_type==0)
                                          td Common
                                        else
                                          td Loyalty
                                        td= walkin.room_name
                                        td= walkin.cust_gender
                                        td= walkin.cust_fname+" "+walkin.cust_mname+" "+walkin.cust_lname
                                        input.name(type='hidden' value=`${walkin.cust_fname} ${walkin.cust_mname} ${walkin.cust_lname}` id=`${walkin.walkin_id}`)

                                        td= walkin.walkin_start_time+" TO "+walkin.walkin_end_time
                                          input.timeStart(type='hidden' value=`${walkin.walkin_date} ${walkin.walkin_start_time}` id=`${walkin.walkin_id}`)
                                          input.timeEnd(type='hidden' value=`${walkin.walkin_date} ${walkin.walkin_end_time}` id=`${walkin.walkin_id}`)
                                        td
                                          button.btn.btn-info.btn-fill.btn-wd.viewButton(type='button' value=`${walkin.walkin_id}`)
                                            span.btn-label
                                            |  View  Reservation Details
                                        td
                                          
                                        td
                                          .dropdown.pull-right(style="right: 20px")
                                            button.btn.btn-simple.btn-info.btn-rotate(href='#', data-toggle='dropdown' style='left: auto; right: 13px')
                                              i.ti-settings
                                            ul.dropdown-menu
                                              li
                                                button.btn.btn-simple.btn-info.btn-icon.proceedButton(type='button' value=`${walkin.walkin_id}`, rel='tooltip', title='Proceed To Service')
                                                  span.btn-label
                                                  i.ti-angle-double-right
                                                  |  Proceed To  Service
                                              li
                                                button.btn.btn-simple.btn-info(data-toggle='modal', data-target='#change',  style="margin-right: 15px")
                                                  span.btn-label
                                                  i.ti-exchange-vertical
                                                  |  Change Therapist    
                              
                              #viewServices.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                .modal-dialog.modal-lg(role='document')
                                  .modal-content
                                    .modal-header
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                      center
                                        h4.modal-title#title
                                    .modal-body 
                                      .row#Service
                                        .col-md-12
                                          .card-content
                                            .toolbar
                                            .fresh-datatables
                                            table#datatablesService.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                              thead
                                                tr
                                                  th
                                                    strong  Services 
                                                  th
                                                    strong  Quantity
                                                  th
                                                    strong Duration
                                                  th
                                                    strong Total Price 
                                              tbody#viewServicesAvailed
                                              #therapist
                                      hr
                                      br
                                      .row#Promo
                                        .col-md-12
                                          .card-content
                                            .toolbar
                                            .fresh-datatables
                                            table#datatablesProm.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                              thead
                                                tr
                                                  th
                                                    strong  Promo
                                                  th
                                                    strong  Quantity
                                                  th
                                                    strong Duration
                                                  th
                                                    strong Total Price 
                                              tbody#viewServicesAvailedPromo
                                      hr
                                      br
                                      .row#Package
                                        .col-md-12
                                          .card-content
                                            .toolbar
                                            .fresh-datatables
                                            table#datatablesPack.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                              thead
                                                tr
                                                  th
                                                    strong  Package 
                                                  th
                                                    strong  Quantity
                                                  th
                                                    strong Duration
                                                  th
                                                    strong Total Price 
                                              tbody#viewServicesAvailedPackage

                              #change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                .modal-dialog(role='document')
                                  .modal-content
                                    .modal-header
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                      center
                                        h4.modal-title Choose Therapist
                                    .modal-body 
                                      .row
                                        .col-md-12
                                          .form-group.has-default.bmd-form-group
                                            label Therapist Name
                                            select.selectpicker(multiple='', title='Select Therapist/s', data-style='btn-info', data-size='7' )
                                              option Blaster
                                    .modal-footer
                                      button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd.pull-left(data-dismiss='modal') Cancel
                                      button.btn.btn-secondary.btn.btn-info.btn-fill.btn-wd.pull-right(data-dismiss='modal') Done          
                                                          
                            
                  footer.footer
                    .container-fluid
                      .copyright.pull-right
                        | © 
                        script.
                          document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by 
                        a(href='') TEAM MBAY
    .fixed-plugin
    // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
    script(src='/assets/paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
    script(src='/assets/paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
    // Forms Validations Plugin
    script(src='/assets/paperDashboardPro/js/jquery.validate.min.js')
    // Promise Library for SweetAlert2 working on IE
    script(src='/assets/paperDashboardPro/js/es6-promise-auto.min.js')
    // Plugin for Date Time Picker and Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/moment.min.js')
    // Date Time Picker Plugin is included in this js file
    script(src='/assets/paperDashboardPro/js/bootstrap-datetimepicker.js')
    // Select Picker Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-selectpicker.js')
    // Switch and Tags Input Plugins
    script(src='/assets/paperDashboardPro/js/bootstrap-switch-tags.js')
    // Circle Percentage-chart
    script(src='/assets/paperDashboardPro/js/jquery.easypiechart.min.js')
    // Charts Plugin
    script(src='/assets/paperDashboardPro/js/chartist.min.js')
    // Notifications Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-notify.js')
    // Sweet Alert 2 plugin
    script(src='/assets/paperDashboardPro/js/sweetalert.js')
    // Wizard Plugin
    script(src='/assets/paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
    // Bootstrap Table Plugin
    script(src='/assets/paperDashboardPro/js/bootstrap-table.js')
    // Plugin for DataTables.net
    script(src='/assets/paperDashboardPro/js/jquery.datatables.js')
    // Full Calendar Plugin
    script(src='/assets/paperDashboardPro/js/fullcalendar.min.js')
    // Paper Dashboard PRO Core javascript and methods for Demo purpose
    script(src='/assets/paperDashboardPro/js/paper-dashboard.js')
    // Sharrre Library
    script(src='/assets/paperDashboardPro/js/jquery.sharrre.js')
    // Paper Dashboard PRO DEMO methods, don't include it in your project!
    script(src='/assets/paperDashboardPro/js/demo.js')
    script.
      $(document).ready(function(){
        $('.viewButton').click(function(){
        var table =$('#datatables').DataTable()
          var id = $(this).val()
          $.post('/fdReservation/viewServices',{id:id})
            .done(data=>{
              console.log(data)
              console.log("NAME^")
                $('#title').append(`<h5> ${data.out2.cust_fname} ${data.out2.cust_mname} ${data.out2.cust_lname}`)
                $('#therapist').append(`<h5>Therapist: 
                <a>${data.out2.therapist_fname} ${data.out2.therapist_mname} ${data.out2.therapist_lname}`)
              if(data.out1.length != 0)
              {
                for(var i=0; i<data.out1.length;i++){
                    var total_duration = moment.duration(data.out1[i].service_total_duration).asMinutes()
                    $('#viewServicesAvailed').append(` 
                    <tr>
                    <td>${data.out1[i].service_name}</td>
                    <td>${data.out1[i].service_total_quantity}</td>
                    <td>${total_duration} minutes</td>
                    <td>₱${data.out1[i].service_total_price}.00</td>`)
                  }
                  //- $('#datatablesService').dataTable()
                  $('#Services').css('display','block')
              }
              else
              {
                $('#Services').css('display','none')
                //- $('#datatablesServices').wrap('<div id="hide" style="display:none"/>');
              }
              console.log(data.outPromo.length != 0)
              if(data.outPromo.length != 0)
              {
                for(var i=0; i<data.outPromo.length;i++){
                    var total_duration = moment.duration(data.outPromo[i].service_total_duration).asMinutes()
                    $('#viewServicesAvailedPromo').append(` 
                    <tr>
                    <td>${data.outPromo[i].promobundle_name}</td>
                    <td>${data.outPromo[i].service_total_quantity}</td>
                    <td>${total_duration} minutes</td>
                    <td>₱${data.outPromo[i].service_total_price}.00</td>`)
                  }
                  //- $('#datatablesProm').dataTable()
                  $('#Promo').css('display','block')
              }
              else
              {
                $('#Promo').css('display','none')
                //- $('#datatablesPromo').wrap('<div id="hide" style="display:none"/>');
              }
              
              if(data.outPackage.length != 0)
              {
                for(var i=0; i<data.outPackage.length;i++){
                    var total_duration = moment.duration(data.outPackage[i].service_total_duration).asMinutes()
                    $('#viewServicesAvailedPackage').append(` 
                    <tr>
                    <td>${data.outPackage[i].package_name}</td>
                    <td>${data.outPackage[i].service_total_quantity}</td>
                    <td>${total_duration} minutes</td>
                    <td>₱${data.outPackage[i].service_total_price}.00</td>`)
                  }
                  //- $('#datatablesPack').dataTable()
                  $('#Package').css('display','block')
              }
              else
              {
                $('#Package').css('display','none')
                //- $('#datatablesPackage').wrap('<div id="hide" style="display:none"/>');
              }

          $('#viewServices').modal('show')
          $('#viewServices').on('hidden.bs.modal', function (){
            $('#viewServicesAvailed').empty()
            $('#viewServicesAvailedPackage').empty()
            $('#viewServicesAvailedPromo').empty()
            
            $('#title').empty()
            $('#therapist').empty()
          })
          })
          
        })
      })
    script.
      $(document).ready(function(){
        $('.proceedButton').click(function(){
          var id = $(this).val()
          var scriptSession = !{JSON.stringify(reqSession)}
          console.log(scriptSession)
          var name = $(`.name[id='${id}']`).val()

          var perstaym = $(`.timeStart[id='${id}'`).val()
              perstaym = moment(perstaym).format('HH:mm')
              perstaym = moment.duration(perstaym).asMinutes()
              console.log('PERSTAYM',perstaym)
          var endTime = $(`.timeEnd[id='${id}']`).val()
              endTime = moment(endTime).format('HH:mm')
              endTime = moment.duration(endTime).asMinutes()
              var between = endTime - perstaym
              console.log('END TIME AS MINUTES',endTime)



          var new_endTime = moment(timeNow).add(between,'m').format('hh:mm A')
          console.log('NEW END TIME',new_endTime)
          var dateOnly = moment(new Date()).format('YYYY-MM-DD')
          console.log('DATE ONLY',dateOnly)
          var new_startTime = moment(new Date()).format('hh:mm A')
          console.log('NEW START TIME',new_startTime)
          var startTime = $(`.timeStart[id='${id}'`).val()
            startTime = moment(startTime).format('MMMM-DD-YYYY HH:mm')
          var timeStart = moment(startTime).format('hh:mm A')
          var timeNow = moment(new Date()).format('MMMM-DD-YYYY HH:mm')
          var dateNow = moment(new Date()).format('MMMM-DD-YYYY')
          var forfeit_time = scriptSession.utilities[0].reservation_forfeitTime
              forfeit_time = moment(startTime).add(forfeit_time,'m').format('MMMM-DD-YYYY HH:mm')
          var opening_time = scriptSession.utilities[0].opening_time
              opening_time = dateNow+" "+opening_time
              opening_time = moment(opening_time).format('MMMM-DD-YYYY HH:mm')
          var allowable_time = moment(opening_time).subtract(30,'m').format('MMMM-DD-YYYY HH:mm')
        
          if(moment(timeNow).isSameOrBefore(opening_time) && moment(timeNow).isSameOrBefore(allowable_time))
          {
            swal({
              title: 'The spa is not open yet.',
              icon: 'warning'
            })
          }
          else if(moment(timeNow).isBefore(startTime) && moment(timeNow).isSameOrAfter(allowable_time))
          {
              swal({
                title: 'The reservation time of '+name+' is '+timeStart,
                text: 'Proceed '+name+' to service? Are you sure?',
                icon: "warning",
                buttons: ["Cancel","Proceed"],
                dangerMode: true
              }).then(function(proceed){
                if(proceed)
                {
                  $.post('./home/queue/AdvanceReservation',{id,new_endTime,new_startTime,dateOnly}).done(function(data){
                    if(data.alertDesc==0)
                    {
                      swal({
                        title: 'success',
                        icon:'success'
                        }).then(function(){
                          location.reload()
                        })
                    }
                    else if(data.alertDesc==1)
                    {
                      swal({
                        title:'Error',
                        icon: 'error'
                      })
                    }
                  })
                }
              })
          }
          else if(moment(timeNow).isSameOrAfter(startTime) && moment(timeNow).isBefore(forfeit_time) && moment(startTime).isSameOrAfter(allowable_time))
          {
            swal({
              title: name+' will proceed to ongoing service?',
              icon: "info",
              buttons: ["Cancel","Proceed"],
              dangerMode: true
            }).then(function(proceed){
              if(proceed)
              {
                $.post('/receptionist/home/queue/MoveToOngoing',{id:id})
                  .done(data=>{
                    if(data.alertSuccess==0)
                      {
                        swal({
                          title: name+" has been added to ongoing service",
                          icon: 'success'
                        }).then(function(){
                          location.reload()
                        })
                      }
                    else
                    {
                      swal({
                          title: 'ERROR',
                          icon: 'error'
                        })
                    }
                  })
              }
              })
          }
          else if(moment(timeNow).isSameOrAfter(forfeit_time))
          {
            swal({
              title: 'The customer is late.',
              text: 'The reservation is alredy cancelled.',
              icon: 'warning'
            })
          }
          })
        })
    script.
      $(document).ready(function(){
        $('.logout').click(function(){
              swal({
          title: "Are you sure?",
          text: "Do you want to log out?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.post('/frontdesk/logout')
            location.reload()
          } 
        });
        })
      })
    script(type='text/javascript').
      $(document).ready(function(){
      demo.initOverviewDashboard();
      demo.initCirclePercentage();
      });
    script(type='text/javascript').
      $(document).ready(function() {
      $('#datatables').DataTable({
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      retrieve: true,
      language: {
      search: "_INPUT_",
      searchPlaceholder: "Search records",
      }
      });
      });
    script(type='text/javascript').
      $(document).ready(function(){
      demo.initWizard();
      });
    script.
      $(document).ready(function() {
        var interval = setInterval(function() {
            var momentNow = moment();
            $('#date-part').html(momentNow.format('YYYY MMMM DD') + ' '
                                + momentNow.format('dddd')
                                .substring(0,3).toUpperCase());
            $('#time-part').html(momentNow.format('A hh:mm:ss'));
        }, 100);
        
        $('#stop-interval').on('click', function() {
            clearInterval(interval);
        });
        $('#calendar').val('')
        });